[2017-08-12 18:13] Serubin opened #1 "Fall Semester (2017) Schedule Planning"
Week | Day | Title | Brief | Workshop | Owner
-- | -- | -- | -- | -- | --
01 | Sept. 01 | RITlug Introduction | Intro to what the club is about and who the leaders are | n/a | @TaylorBowling @Serubin
02 | Sept. 08 | Linux 101 | Intro to what Linux is and why we use it |  | @axk4545 @TaylorBowling
03 | Sept. 15 | Open Source 101 | What is open source? What does it all mean and how can I get involve

[2017-08-12 19:27] Serubin commented on #1
@jflory7 @axk4545 @TaylorBowling @fosspotato

I want to kick off the planning publicly as we start to really map out this semester.

[2017-08-12 19:35] Serubin opened #2 "Presentation Creation & Guidelines"
This issue will contain information on our weekly presentation/workshop tasking and process.

## Guidelines

Link to our default presentation template. https://goo.gl/1dqinL

<img width="512" alt="image" src="https://user-images.githubusercontent.com/1234465/29251911-bce1c61a-802b-11e7-9156-064ae0cb3b56.png">

Things to include:
* Overviews/Agendas

[2017-08-12 19:52] Serubin commented on #1
# Detailed Tasking

## Linux 101 1 (9/1)
Tasked too: @axk4545 @TaylorBowling. Hard deadline: **8/25**

[2017-08-17 06:49] jflory7 opened #3 "Look into logo redesign"
## Summary

RITlug does not have source files for our existing logo and there are a few wishes to have it redesigned into a new logo that is more modern and representative of who we are as a club. Thus, I am looking into a club logo redesign.

## Explanation

I reached out to [Ura Design](https://ura.design/) of [Opensource.com fame](https://opensource.com/article/17/6/ura-design-open-source-proje

[2017-08-17 06:50] jflory7 commented on #2
@Serubin Is the goal with this one to create a deliverable presentation template that we can share with members and also guidelines on how to put one together?

[2017-08-17 06:54] jflory7 commented on #1
@Serubin If I remember right, our current plan is for @TaylorBowling to lead with @Serubin supporting the creation of a general RITlug intro presentation, followed by Open Source 101 (@jflory7) and then Linux 101 with @TaylorBowling and @axk4545 together, right?

[2017-08-17 06:58] jflory7 opened #4 "Set up relay bot from Google Group mailing list to IRC / Telegram"
## Summary

Having a relay bot to send notifications from activity on the [ritlug-announce](https://groups.google.com/forum/#!forum/ritlug-announce) mailing list would be helpful to keep everyone updated on new announcements

## Explanation

I haven't looked into this much yet, but in theory, it should be pretty easy. We would want a relay of some kind to echo activity for new posts to our mailing

[2017-08-17 07:02] jflory7 opened #5 "Get feedback from Eboard on task organization"
## Summary

This repo now has various [labels](https://github.com/RITlug/tasks#labels) in use to help make it easier to sort tasks and understand what's important. Feedback is needed on whether these make sense or ways we could improve how this repo is used (so that it's easy to understand what's happening in RITlug)

## Explanation

Just now, I set up a [labeling system](https://github.com/RITlug

[2017-08-17 07:09] jflory7 opened #6 "Reach out to guest speakers for special topics"
## Summary

There's a lot of great speakers in the Rochester area or people who might be willing to travel to come out and speak. Let's try to have some interesting guest speakers this semester!

## Explanation

I have a better understanding than before on how expansive the network of talented tech people around Rochester is. While I don't think we're at a place where we could try to attract speak

[2017-08-17 07:14] jwflory opened #7 "Planning a premier event"
## Summary

All clubs are allowed one "premier" event a semester by the RIT Clubs Office, which carries extra priority for booking a venue / promotional advertising. We could plan a "premier" event to help grow the club or build community

## Explanation

Since this is a relatively new concept, I think it would be cool for us to try out a "premier" event. I don't think we really need to go crazy o

[2017-08-17 07:17] jwflory opened #8 "Update the runbook"
## Summary

Our amazing [runbook](https://github.com/RITlug/runbook) is slowly starting to date itself – we need to work on updating it based on things we're putting into practice this year or have already changed in the last year

## Explanation

The runbook was the holy grail for me and @Serubin when we took over the reins from @thenaterhood and @repkam09. We all know that we're not here forever

[2017-08-17 07:29] jflory7 opened #9 "Planning for 2171 club fair (Saturday, August 28th, 2017)"
## Summary

The RIT club fair is coming up – RITlug has a table, and we need to plan out who will be there, when they will be there, and maybe any strategy that we want to try different for this year

## Raw details

* **Date**: Saturday, August 28th, 2017
* **Volunteers needed**: 12:00pm - 4:30pm
  * **Event times**: 1:00pm - 4:00pm
* **Table**: C8

## Who's going to be there

* @jflory7 (12:00pm

[2017-08-17 12:30] jackrosenthal commented on #3
Gee... I already thought your logo was much better than ours. :P

[2017-08-17 13:04] jflory7 commented on #3
@jackrosenthal @jackrosenthal Heh, for me, one of the biggest reasons for this is that we don't own the original art assets, so we're just stuck to these two PNGs. Having more options would make it easier for us to produce swag or blow up our logo larger on something like a poster or something else in the future.

[2017-08-17 13:25] mattBernius commented on #6
Hey, I'm happy to help.

Currently there are three official local Mozillians (I'm unofficial). I can connect you with John Karahalis who is an RIT grad and was part of some of the early Open Source activities on campus along side Remy.

[2017-08-17 22:36] axk4545 commented on #9
@RITlug/eboard-2017-2018 I have a 1280x1024 vga monitor that we can use and a chromebook that can be one of the laptops.

[2017-08-17 22:47] jflory7 commented on #9
@axk4545 If you could commit those for the club fair, that would be awesome. What's running on the Chromebook right now?

[2017-08-17 22:54] axk4545 commented on #9
@jflory7 ChromeOS but it can run any x86 linux we want. It has 2GB RAM.

[2017-08-17 22:55] jflory7 commented on #9
@axk4545 Do you think a Cinnamon install would keep up? It would be cool to do Fedora Cinnamon or Mint, if you think it could cope with that. Ideally, just any kind of Linux would be nice, where people can open a browser or a terminal and poke around.

[2017-08-17 22:56] axk4545 commented on #9
@jflory7 it can run TigerOS so yes.

[2017-08-17 22:57] jflory7 commented on #9
@axk4545 Awesome. Then if you can work on getting a TigerOS install running on that before the club fair, that would be super cool. It would make for a good talking point at the table too if we had that running. 😄

[2017-08-17 22:59] axk4545 commented on #9
@jflory7 will try to get TigerOS cleaned up to do that. Buggest thing is F26 move and hopefully fixing that silly autostart.

[2017-08-18 01:51] Tjzabel commented on #9
@axk4545 I thought we fixed the autostart??

[2017-08-18 01:52] axk4545 commented on #9
@Tjzabel Well we kinda did... it still tries to run on the live CD AFAIK

[2017-08-18 12:31] wilfriedE commented on #9
@jflory7 I gave the RITLUG poster to @Serubin. I think that was the only thing?

[2017-08-18 12:34] Serubin commented on #9
@jflory7 @wilfriedE It's with @TaylorBowling

[2017-08-18 14:58] TaylorBowling commented on #1
I've updated the schedule above based on recent decisions. I'll start working on the RITlug introduction slideshow next week, if anyone has anything they'd like to add or would like to further collaborate please let me know!

[2017-08-18 16:32] axk4545 commented on #6
Also Carmen Andoh of Travis CI

On Aug 17, 2017 2:09 AM, "Justin W. Flory" <notifications@github.com> wrote:

[2017-08-18 18:07] jflory7 commented on #9
@Serubin How many t-shirts do we have? Do you want to ship them to my home address in Georgia so I can bring them with me to ROC?

[2017-08-18 18:07] jflory7 commented on #9
Sorry for the double-comment, but @TaylorBowling, will you be able to get the poster to someone before Aug. 28th?

[2017-08-18 18:22] jflory7 commented on #1
@TaylorBowling Thanks. As an FYI too, if you want a gap week by swapping the _Linux 101_ and _Open Source 101_ sessions, we can do that if you think you'll need the time. Otherwise, I'll use the extra week to try to come up some marketing or try to promote it a bit outside of GCCIS.

As a general note, I'd like to give quick sessions on Docker / containers and also Kubernetes (quick is the emphasi

[2017-08-20 01:16] patkub commented on #1
I'd like to give a quick session on [Polymer](https://www.polymer-project.org/) web components and Progressive Web Apps (PWAs), and web testing in a CI.

[2017-08-24 18:27] Serubin commented on #1
@patkub Could you swing it early october? I'd love to see this happen!
Week 7, Oct. 13?

[2017-08-24 18:29] Serubin commented on #2
@jflory7 My aim is to have a basic template that we can use to speed things up. If nothing else, just a default opening page.

The above works well as that and can be modified as needed.

[2017-08-25 02:14] patkub commented on #1
@Serubin Ok, I can do Oct. 13.

[2017-09-09 21:21] jflory7 commented on #2
@Serubin What work is remaining on this task?

[2017-09-09 21:29] jflory7 commented on #9
So, this did indeed happen, and it went well. Sorry for the delayed follow-up here. I don't have much to add, but a quick overview of things that went well and things that could have been better:

# Success

* @Schneidy's Cre8-a-thon posters drew in a lot of people, the art + hacking idea seemed to resonate with a lot of people
* Talking with people specific to their interests and was able to conn

[2017-09-09 21:29] #9 closed

[2017-09-09 21:34] jflory7 commented on #6
@RITlug/eboard: I just got word that @bacharakis from Mozilla is going to be swinging by Rochester on Sept. 22nd! Ideally, we could have him do a guest session once I hear more about ideas he would like to present on.

[2017-09-09 21:35] jflory7 commented on #3
Still waiting back from the Ura Design team, haven't had a response yet. Going to try pinging them separately if the form I submitted was received.

[2017-09-09 21:54] Serubin commented on #2
Nothing - this is just open for reference

[2017-09-11 03:03] Serubin commented on #1
@fosspotato How's Oct. 20th for your presentation.

[2017-09-11 03:09] Serubin commented on #1
Adding @fosspotato's presentation

[2017-09-26 13:52] jflory7 commented on #4
Umm, so I think @xforever1313 did this with xbot! I noticed it emits a notification for every new post to the mailing list. Closing as complete! Thanks @xforever1313.

[2017-09-26 13:52] #4 closed

[2017-09-26 13:56] jflory7 commented on #3
Just as a public update, @elioqoshi from @uradesign created some first drafts of the logo. We provided some feedback and we are waiting for a final version. Hopefully we can deliver on this in early October.

[2017-09-26 14:00] xforever1313 commented on #4
Yay for accidentally fixing issues :P. I needed something to test out the Rss bot built into xbot, so I picked ritlug.com's Rss feed :P.

[2017-09-26 14:04] jflory7 commented on #1
Updated table with @bacharakis's presentation, pushed some things around.

[2017-09-28 21:59] elioqoshi commented on #3
Didn't know there was an issue here. Happy to bring the conversation onto here if you have anything

[2017-10-01 19:23] jflory7 commented on #3
@elioqoshi Actually, yeah, that would be helpful! Would you mind uploading some of the mock-ups you made so far to this issue? It will be easier to get some feedback on them from others that way.

[2017-10-02 20:34] jflory7 commented on #6
@cprofitt was interested in speaking at RITlug this semester. More information to come.

[2017-10-02 20:38] Nolski commented on #6
Wonder if lonnen would ever be around? He's a pretty cool dude and at mozilla iirc

[2017-10-02 20:39] jflory7 commented on #6
@Nolski That would be cool. What kind of subject areas would he be a good fit for? Do you have any contact info you could give us? If you do, feel free to zap it at ritlug@gmail.com!

[2017-10-02 20:40] jflory7 commented on #5
Per previous Eboard meeting agendas, we're going to run through a quick training on GitHub issues with @fosspotato at the next Eboard meeting, and then we will close this ticket.

[2017-10-02 20:41] Nolski commented on #6
@jflory7 lonnen was my manager at mozilla. He's been around for quite a while and im sure has at least a few open source stories to tell. Even just hearing about the lesser known stories about mozilla would be cool. His email is lonnen@mozilla.com I think. Github is https://github.com/lonnen/

[2017-10-02 20:45] jwflory opened #10 "Follow up on April 2018 FOSS Family Outback dinner fundraising"
# Summary

Organize a FOSS Family dinner at a restaurant where RITlug can partner to do a fundraiser.

# Explanation

Per tradition, there's always one or two FOSS Family dinners during the semester, where RITluggers and FOSS folk around the community go out for a night of dinner. Since RITlug is also trying to do some fundraising, we want to organize a dinner at a restaurant that will partner wit

[2017-10-02 20:48] jflory7 opened #11 "Add poster template to runbook"
# Summary

The poster template we are currently using (a la @TaylorBowling) needs to be added to the [RITlug Runbook](https://github.com/RITlug/runbook) to help keep it somewhere public and easy to work with later

# Explanation

This one is pretty simple, but will require @TaylorBowling to do it since he has the current poster template. I think adding a new folder to the Runbook titled `resources

[2017-10-02 20:49] jflory7 opened #12 "Get budget sheet from club office"
@TaylorBowling is getting a copy of our budget sheet for us to get an idea of where we are now and plan future expenses.

[2017-10-02 20:50] jflory7 commented on #6
@Nolski Amazing, thanks! I'll try reaching out to see if he's interested in giving a talk here.

[2017-10-02 20:51] jflory7 commented on #7
Had a short conversation with @schneidy today about the old [BarCamp Rochester](http://barcamproc.org/). Could be an interesting event to try doing. Maybe @Schneidy can expand a bit more on what the structure of the event looked like in the past when it was running.

[2017-10-02 20:54] jflory7 commented on #2
@Serubin Is there anything we can do to close this ticket? What kind of deliverables do we want to produce here?

[2017-10-02 21:39] jflory7 commented on #8
See issue about RITlug servers in RITlug/runbook#3. Closing issue there and migrating to here.

[2017-10-03 12:50] mattBernius commented on #6
Let me know if you decide to pursue lonnen. Between Justin and I I think we
could definitely nicely ask Mozilla for some assistance with that.

-----------------------------
Matthew Bernius
mBernius@gMail.com | http://www.mattbernius.com | @mattBernius
My calendar: http://bit.ly/hNWEII

On Mon, Oct 2, 2017 at 4:50 PM, Justin W. Flory <notifications@github.com>
wrote:

[2017-10-03 17:36] elioqoshi commented on #3
Here we go!
![ritlug1](https://user-images.githubusercontent.com/5436686/31139516-1d03692c-a872-11e7-92f2-14452112a783.jpg)

[2017-10-03 17:36] elioqoshi commented on #3
![ritlug2](https://user-images.githubusercontent.com/5436686/31139528-263d7ea6-a872-11e7-89ff-4c96d37f289d.jpg)

[2017-10-03 17:51] elioqoshi commented on #3
![ritlug3](https://user-images.githubusercontent.com/5436686/31140292-48763f06-a874-11e7-8b86-b142f30b6b82.jpg)

[2017-10-03 17:51] elioqoshi commented on #3
![ritlug4](https://user-images.githubusercontent.com/5436686/31140302-4d47e69c-a874-11e7-88d0-6bd6dc5fc90e.jpg)

[2017-10-04 00:29] schneidy commented on #7
BarCamp is an unconference where anyone who attended could talk about any subject they wanted. The schedule was created the morning of the event after introductions on a big paper grid that was filled with blank sheets. Most of the talks lasted about 20 minutes with a few minutes for Q&A and time to switch rooms. We ran a lightning talk session right after lunch for an hour for those attendees who

[2017-10-06 16:15] jwflory opened #13 "Organize a TigerOS Test Day"
# Summary

Organize a "Test Day" event for TigerOS to bring the general public in to get user feedback on installation and UI/UX.

# Analysis

The TigerOS team ( @axk4545 @ct-martin @Tjzabel @ReginaTL @Josh1147582 ) has a working Fedora 26 build of TigerOS. There is new focus on user interface / user experience. User feedback would be helpful for the TigerOS team to improve their documentation and

[2017-10-06 16:17] jflory7 commented on #12
This was done by @TaylorBowling on 2017-10-03! I have a PDF copy in my personal dropbox and will add it to the shared Google Drive folder.

[2017-10-06 16:17] #12 closed

[2017-10-06 17:28] jflory7 commented on #6
@thenaterhood Feel free to let us know which dates work for you here on the neutrality talk!

[2017-10-08 00:25] Serubin commented on #3
Adding side by side of the current contenders. Looking for feedback.
![south and west version](https://user-images.githubusercontent.com/1234465/31312836-632986d8-ab9d-11e7-81f2-f0fc97bd8c93.jpg)
Left: South Version Right: West Version

[2017-10-08 01:38] Happy-Dude commented on #3
@Serubin I like the left one -- very penguin, very OSI :)

[2017-10-08 08:56] elioqoshi commented on #3
With @jflory7 suggested changes

![ritlug updated](https://user-images.githubusercontent.com/5436686/31315353-5545a158-ac17-11e7-9039-fc9ab89c4181.jpg)

[2017-10-08 19:13] jackrosenthal commented on #3
Wow these are very cool! Can't wait to see what you end up going with.

Jack

[2017-10-10 17:33] jflory7 commented on #8
The runbook is making steady progress. See the latest version here:

[runbook.ritlug.com](http://runbook.ritlug.com/)

[2017-10-10 19:01] jflory7 commented on #8
## Progress update

It was decided in an Eboard meeting to set up a [Read the Docs](https://readthedocs.org/) site for our Runbook. Since voting on it, the UI / customization is done and a few docs are already updated. More progress will be made on writing these docs.

See the latest version here: [runbook.ritlug.com](http://runbook.ritlug.com/)

## Infrastructure

@axk4545 @Serubin Both of you ha

[2017-10-10 19:02] Serubin commented on #8
@jflory7 You'd think that I have a good grasp...

Will provide documentation on the host setup.

[2017-10-10 19:04] jflory7 commented on #1
@patkub I pinged you in Telegram but didn't get an answer – are you still good for this Friday?

[2017-10-12 22:01] ct-martin commented on #1
Propsed talks:
- Ansible (???, Flory has a name in mind)
- Overview of Distributed Computing (Me)
- Virtualization (@Serubin ?)
- Docker+Kubernetes (Flory)

(Cc @jflory7)

[2017-10-13 18:11] jflory7 commented on #1
Updated Week 07 with Spigot talk. Reminder that @fosspotato is up for next week with "Women in FOSS".

[2017-10-13 19:36] jflory7 commented on #1
@ct-martin volunteered to give "Overview of Distributed Computing" on Nov. 3rd. We might try to make November the "month of the cloud" if I can get my Kubernetes talk done in time or if we can get a guest speaker for an Ansible one.

Oct. 27th is currently blank, but I was thinking we could make that into a [Hacktoberfest](https://hacktoberfest.digitalocean.com/) Friday for club members to work on

[2017-10-17 12:58] jflory7 commented on #1
## Oct. 27th

* **Hacktoberfest Hackathon**: Want to get a free t-shirt and stickers from DigitalOcean and GitHub? Make four contributions to projects on GitHub and get free swag! During the two hours, we'll help you get in your contributions before October comes to an end. Bring a laptop!
* **Organized by**: @jflory7

## Nov. 3rd

* **Overview of Distributed Computing**
* **Organized by**: @ct-ma

[2017-10-18 00:06] cprofitt commented on #1
I will do a talk on December 1st.
**Linux and FOSS: Hidden in the Data Center**
It used to be that data centers were ruled by big iron and proprietary software. Today data centers are running on top of Open Source. In many cases the Open Source stack is hidden. This talk will highlight several vendors that leverage Open Source in their products.

[2017-10-21 18:12] axk4545 commented on #5
@jflory7 is this ok to close?

[2017-10-21 18:14] axk4545 commented on #2
@Serubin @jflory7 is  the template in? if so we can add this to runbook and close.

[2017-10-21 18:38] axk4545 commented on #8
@jflory7 we should also include in this issue updating our constitution or otherwise making it match the runbook.

[2017-10-22 18:32] jflory7 opened #14 "Host a Nextcloud instance for club members"
From a short discussion in IRC with @Serubin about hosting a [Nextcloud](https://nextcloud.com) instance for club members. More details to come soon.

[2017-10-22 18:33] jflory7 commented on #13
@axk4545 Is this something you think we should do this semester?

* **If no**: Let's assign it to a milestone for next semester.
* **If yes**: Can you find someone on the team to help drive and plan this?

[2017-10-22 18:36] jflory7 commented on #5
@axk4545 Yes, thanks for the follow-up here. Closing this ticket.

[2017-10-22 18:36] #5 closed

[2017-10-22 18:37] jflory7 commented on #2
@axk4545 I don't know of any template we have. @Serubin needs to weigh in here. If we don't have the bandwidth for the template, I think we should close the issue since it's not a high-priority item for the club.

[2017-10-22 18:47] jwflory opened #15 "Write a blog post on TigerOS recap / overview of Flock 2018"
# Summary

Writing about TigerOS in the public is important to build awareness. We should establish a precedent for regular blog posts / updates about TigerOS.

# Description

This could be done in a few different ways.

### Our own blog

We could host our own blog, like `blog.ritlug.com`, where we could write content about the club to share with the world.

**Pros**:
* Clearly associated with RIT

[2017-10-22 18:51] jflory7 commented on #6
As an update: I've reached out to Charles Profitt and Ryan S. Brown (Ansible) for guest speaking. Charles will be present in December and will also return in spring for another talk. I haven't heard back from Ryan yet, but he acknowledged the email in IRC and said he'd get back with me.

Nobody has reached out to lonnen yet. It's on my list.

[2017-10-22 18:51] jflory7 commented on #10
Still need to follow up with Fuego. Looking at Sticky Lips for a sponsored meal in November for RITlug. I have options for Wednesday, Thursday, and Friday nights. I'm leaning towards choosing a Friday night in November.

[2017-10-22 18:54] jflory7 commented on #3
We've selected final versions of the logo and updated our website, Telegram, and Slack with the new logo. Anything else with the old logo will be replaced. The new content is hosted in the site, via RITlug/ritlug.github.io#117.

I need to work with @elioqoshi on generating an invoice for the design work. I also need to clear the logo design update with club office. Keeping open until these two thi

[2017-10-22 18:57] jflory7 opened #16 "[DUE: OCTOBER 30] Take financial certification"
# Summary

Club office financial certification is live. All Eboard members are required to be certified by October 30th or the club will be temporarily suspended.

# Description

The financial certification page lives here:

https://www.rit.edu/studentaffairs/campuslife/financial-certification-test

This is high priority and needs to be done in the next week. This should also be covered at the nex

[2017-10-22 19:00] jflory7 opened #17 "Set up a new election in Campus Groups"
# Summary

Nominations are open for vice president in spring semester. CampusGroups has election functionality and RIT club office requires use of it for club elections.

# Description

I don't think it's blocking on us taking nominations in an old-fashioned way, but this needs to be done before Week 10, when we hold the election.

I'm assigning this to myself to follow up on.

[2017-10-22 19:14] axk4545 commented on #13
@jflory7 going to check with @Josh1147582 on this. Some of it would be docs. Biggest challenge is getting useful test cases. Tentative milestone for next semester unless things change.

[2017-10-22 19:24] axk4545 commented on #13
@Josh1147582 can do the guides

[2017-10-22 19:28] axk4545 commented on #2
@jflory7 kinda[ https://goo.gl/1dqinL](https://goo.gl/1dqinL)

[2017-10-22 21:12] Tjzabel commented on #15
@jflory7 sounds like a great idea! Would be a good way for newcomers to glance over the changes we have made in a more readable format.

[2017-10-22 21:17] ct-martin commented on #15
Personally I think we should have the blog on the new (WIP) TigerOS website, similar to how the RITlug one is now, except that we have a static homepage

[2017-10-23 03:42] jflory7 commented on #15
@Tjzabel Agreed. It also has the benefit of bringing more exposure for the project, which helps both the project and the people involved with it. I see this as a helpful way to grow awareness too.

@ct-martin If we did host it ourselves, we'd probably need to host it separate from the WIP project site. If we're self-hosting, I'd prefer a WordPress installation on Titan. However, I'm most in favor

[2017-10-23 03:45] jflory7 commented on #2
@axk4545 Seems to me like it's mostly our logo plastered on the opening slide. If we still want to do this, I see two tasks:

1. Add more themed slides (section slide, media slides, etc.)
2. Make slides accessible (either by download on site or way to "import" from Google Docs)

If @Serubin has the bandwidth for this, he can take it on – otherwise, I think we can close for lack of bandwidth.

[2017-10-23 03:46] jflory7 commented on #13
@axk4545 Does that mean this semester or next semester? If you can work out a specific date at the next TigerOS team meeting for this, let's get it on the calendar. When you have a specific date, drop an update in this ticket please. 😃

[2017-10-23 15:51] Serubin commented on #2
@jflory7 The link above is the template. It should be added to the runbook now it's updated.

[2017-11-06 15:03] jflory7 commented on #17
The election is currently open and a new domain redirect is created ([vote.ritlug.com](http://vote.ritlug.com). Closing issue and making a note for inclusion in the runbook ( #8 ).

[2017-11-06 15:03] #17 closed

[2017-11-06 15:04] jflory7 commented on #11
@TaylorBowling Could you drag-n-drop upload the template you're working with to this GitHub issue please?

[2017-11-06 15:05] jflory7 commented on #3
Still waiting for email with invoice from @elioqoshi.

[2017-11-06 15:05] jflory7 commented on #16
@fosspotato Have you completed certification yet?

[2017-11-06 19:38] TaylorBowling commented on #11
@jflory7 Been holding off on this due to the recent logo redesign. We can discuss changes to the poster template, in order to update to a new format, in the next meeting, and then I will update.

[2017-11-10 18:48] jflory7 opened #18 "Rochester Mini Maker Faire - Nov. 18, 9am-5pm"
# Summary

This ticket is for planning the RITlug presence at the [Rochester Mini Maker Faire](https://rochester.makerfaire.com/) (RMMF) on **Saturday, Nov. 18th from 9am to 5pm**.

# What we do

We have a table at the RMMF to display our projects and talk about club and community. People of all ages come up to talk about the things we have on our table and want to know more about them. A few volu

[2017-11-27 19:20] Serubin commented on #3
@jflory7 Status?

[2017-11-27 19:20] Serubin commented on #18
Closed as the event has passed

[2017-11-27 19:20] #18 closed

[2017-11-28 03:54] Tjzabel commented on #13
@jflory7 @axk4545 sooo at this point in time, it's safe to say our TigerOS Test Day will be next semester. By that point, all of our minor issues *should* be resolved. This is something we should discuss first thing spring semester.

Thoughts?

[2017-11-28 04:25] ct-martin commented on #13
Given that the "First Release" milestone is the end of the semester, I was
kind of assuming this would be the case

--
Christian Martin

On Mon, Nov 27, 2017 at 10:54 PM, Tim Zabel <notifications@github.com>
wrote:

[2017-11-28 04:46] axk4545 commented on #13
That sounds reasonable. I wish we( and me) had been a little more
productive. Hopefully FOSS project will help with that.

Aidan Kahrs
abkahrs@gmail.com

On Nov 27, 2017 11:25 PM, "Christian Martin" <notifications@github.com>
wrote:

[2017-11-28 05:14] ct-martin commented on #13
Agreed. While this is a discussion for Friday, I think it's possible to
still pull off a first release, but it may have to be for the end of break
instead of the end of the sem. If you look at the milestones, switching to
gnome is mainly  ui tweaks, while apart from doc/site stuff the first
release is the gtk thing, following up about packaging with upstream,
metapackages, and build automation.

-

[2017-11-28 15:03] jflory7 commented on #13
@axk4545 @ct-martin Thanks for your feedback. I updated the tags and milestone to reflect these changes. For other discussion unrelated to the Test Day, let's move that over to the TigerOS repo or Slack.

[2017-12-08 15:07] jflory7 commented on #3
@Serubin I have the EAF form filled out with the invoice attached. I need to wait for SJ to return from his travels to sign off on the form before I can submit it to the club office.

Since PayPal isn't an option, I'll probably pay for it out of pocket and then the university will reimburse me. It seems like for many of the things we might do, this approach is the best. But before spending funds,

[2017-12-08 15:33] elioqoshi commented on #3
As said, the payment isn't a big deal for me, but if it helps you figure out what the process is like, sure :)

Hope you are all happy with the end result

[2017-12-08 15:41] jflory7 commented on #3
@elioqoshi Yes, we're getting a lot of positive feedback from others in our community about the logo redesign. This was so helpful for us, thanks again for your time! I'm hoping to have the payment processed before the new year.

[2017-12-15 22:39] jflory7 commented on #3
This was paid for this week. All logo business is wrapped up! Thanks again @elioqoshi for the great new look.

[2017-12-15 22:39] #3 closed

[2017-12-15 22:39] jflory7 commented on #1
That's a wrap for this semester! We'll pick up with planning for next semester over the winter break.

[2017-12-15 22:39] #1 closed

[2017-12-15 22:40] jflory7 commented on #16
Due to the new Eboard shuffling, only @ct-martin and @Tjzabel need to be certified. @ct-martin already took the exam. @Tjzabel is still pending.

[2017-12-15 22:41] jflory7 commented on #10
We had a dinner, but we still want to do a fundraiser dinner next semester. Will revisit in spring.

[2017-12-15 22:42] jflory7 commented on #6
I'm going to close this ticket with the end of the semester. While it's not technically "done", it also is a type of task that can never truly be done either. We'll focus on guest speaker outreach as we build our itinerary for next semester!

[2017-12-15 22:42] #6 closed

[2017-12-15 22:43] jflory7 commented on #15
We decided to pick back up on this in the spring.

[2018-01-17 20:20] Tjzabel commented on #16
Has everyone here taken the financial certification?

I am closing this issue by this time tomorrow if there are no responses.

[2018-01-17 20:43] Tjzabel opened #19 "Spring Semester (2018) Schedule Planning"
Week | Day | Title | Brief | Workshop | Owner
-- | -- | -- | -- | -- | --
01 | Jan. 19 | N/A |  |  |
02 | Jan. 26 | RITlug Introduction | Intro to what the club is about and who the leaders are | N/A | @Tjzabel
03 | Feb. 02 | Building a Linux Infrastructure | Using Linux to build a self-hosted infrastructure | Yes | @ct-martin
04 | Feb. 09 | Dark Web | Intro to the Dark Web and the Tails OS | Yes

[2018-01-17 20:45] axk4545 commented on #16
@Tjzabel I am certified

[2018-01-17 20:53] Tjzabel commented on #2
@Serubin @jflory7 Where is the link to the slides template in the runbook? If the template has been added, we can close this issue.

Otherwise, we can leave this issue open as a reference to any outside person looking to have a template available to use for a presentation.

[2018-01-17 21:41] jflory7 commented on #16
@Tjzabel If you're certified now, we're all good to go. 👍

[2018-01-17 22:47] #16 closed

[2018-01-19 19:53] jflory7 opened #20 "Organize fundraising event in spring 2018"

[2018-01-19 19:54] jwflory opened #21 "Investigate CampusGroups"
Figure out what we need to do to meet the minimum requirements for Club Office, or if there's systems we should use to help make our club activities more transparent to club office

[2018-01-19 19:57] jflory7 opened #22 "Confirm room reservation for spring semester"
Need to confirm our room is reserved. @axk4545 will follow up John Simonson to confirm our room is reserved.

* **Room number**: GOL-2650

[2018-01-19 20:00] jflory7 opened #23 "Create poster for intro meeting on Jan. 26"
Need to create poster for intro meeting on Jan. 26.

@TaylorBowling will create poster by Sunday night (Jan. 21).

@Tjzabel @ct-martin @axk4545 will help distribute and hang across campus next week.

[2018-01-19 20:04] jflory7 opened #24 "Reach out to guest speakers for spring 2018 talks"
We want to reach out to a few guest speakers from alums and other experts in Rochester for various topics. Some of the people we want to reach out to are:

* **Ryan S. Brown**: RIT alumni, Red Hat / Ansible employee
* **Charles Profitt**: Linux sysadmin expert in ROC, friend of FOSS
* **Carmen**: TravisCI employee
* **Dan Schneiderman**
* **Kyle Suero**

[2018-01-22 17:56] ct-martin commented on #22
Still pending for eBoard and TigerOS, reopening

[2018-01-22 20:02] ct-martin commented on #22
Everything is waiting on @axk4545 and SJ

--
Christian Martin (Phone)

On Jan 22, 2018 1:30 PM, "Tim Zabel" <notifications@github.com> wrote:

[2018-01-22 20:12] axk4545 commented on #22
Waiting on SJ and IST scheduling coordinator. Requested 2620 for RITlug meetings and 2500 for eboard and TigerOS.

[2018-01-22 22:23] axk4545 commented on #22
TigerOS confirmed.

[2018-01-23 01:14] jflory7 commented on #22
@axk4545 Was GOL-2650 an option? If we can avoid moving rooms, that would be nice. We can do it if there's no other option.

[2018-01-23 01:23] axk4545 commented on #22
It was not as it is occupied by a class.

Aidan Kahrs
abkahrs@gmail.com

On Jan 22, 2018 8:14 PM, "Justin W. Flory" <notifications@github.com> wrote:

[2018-01-23 01:32] jflory7 commented on #23
This week's poster is created and ready (thanks @TaylorBowling).

[RITLUG 1-26 Poster.pdf](https://github.com/RITlug/tasks/files/1654151/RITLUG.1-26.Poster.pdf)

@axk4545, @ct-martin, and @Tjzabel will tag-team hanging them up across Golisano, dorms, and other areas on campus. When it's complete, we'll close this ticket.

[2018-01-26 14:37] #23 closed

[2018-01-26 20:27] Tjzabel commented on #19
Idea for presentation: Pinpoint -- open source presentation tool

[2018-01-29 18:27] ct-martin opened #25 "Get information on what's needed for a tunnel mural"
Contact the Resident Hall Association about what we need for approval to do a tunnel mural.
Due date: Friday 2/2/2018 at 2:30pm (eboard meeting)

[2018-01-30 22:30] axk4545 commented on #25
Here is a link to the RHA website: [http://www.rit.edu/studentaffairs/rha/](http://www.rit.edu/studentaffairs/rha/)
On the right side is a link to a mural request form.

[2018-01-31 16:22] harlanhaskins commented on #19
Hey y'all! I'm giving a talk at [AppBuilders](https://appbuilders.ch) on April 16th, and I wanna know if y'all would be up for a practice run of my talk about how to contribute effectively to the [Swift compiler](https://github.com/apple/swift) on April 6th. (cc: @ct-martin)

[2018-01-31 16:38] Tjzabel commented on #19
@harlanhaskins Absolutely! We'd love to have you do a talk. Shall I put you in the calendar?

[2018-02-05 02:14] Chris-Bitler opened #26 "Pre-orientation (DiscoveRIT) program for incoming class of 2018?"
http://www.rit.edu/studentaffairs/discoverit/index.php

RIT runs a yearly pre-orientation program called DiscoveRIT the week before New Student Orientation starts. Usually this is a week-long thing to help incoming students get acquainted to the campus and to teach them about some specific subject that they are interested in. Last year, EGS did one (http://www.rit.edu/studentaffairs/discoverit/eve

[2018-02-05 18:37] Tjzabel commented on #11
We now have our logo redesign. However, we are now currently undergoing a poster design change. Until the change is complete, we will have to wait to update the runbook.

[2018-02-16 02:24] jflory7 commented on #25
I looked at the form request but it wasn't clear if an artist is included with the request. I emailed RHA to find out. If it's included, I think this is easier to move forward with. Otherwise, we're blocked on an artist.

[2018-02-16 02:27] jflory7 commented on #26
@Chris-Bitler Could you link us with the resources for how EGS participated? This sounds like an interesting idea.

[2018-02-16 02:41] jflory7 commented on #2
Getting this in the Runbook is blocked by a design issue. We need to style it with the [new logos](https://github.com/RITlug/ritlug.github.io/tree/master/img). Could someone update the default template? I will work on getting it into the Runbook after.

[2018-02-16 02:47] ct-martin commented on #2
@jflory7 This is on the eboard agenda along with the poster redesign

[2018-02-16 02:49] axk4545 commented on #25
For the mural we paint it ourselves they give us a projector and paint for a set range of time. I believe we get two "appointments" to use it. we project our template on the wall and paint based on that. We can talk to them about possibly using an outside artist though.

[2018-02-16 02:53] jflory7 commented on #8
RITlug/runbook#24 and RITlug/runbook#25 assist towards closing this issue.

## What's left to close this

* **Administration**
    * Managing CampusGroups (still documents The Link)
    * Club Binder contents
    * GitHub organization
* **Events**
    * Club Fairs
    * Meetings
* **Infrastructure**
    * The RITlug IRC Channel
    * The Website
* **Roles**
    * Eboard: Secretary
* **Tasks**

[2018-02-16 16:32] harlanhaskins commented on #19
@Tjzabel Yes, that'd be great! Sorry for missing this message.

[2018-02-16 17:21] Tjzabel commented on #19
@harlanhaskins All good! Thanks for getting back to me. I'll add you in officially to the calendar.

[2018-02-16 20:03] jflory7 commented on #19
_Discussed in eboard meeting on 2018-02-16._

We reached out to Charles Profitt to follow-up on his availability. @Tjzabel had an idea that he could develop as a back-up option. @axk4545 also mentioned the past idea of an "open floor" or discussion night for different open source topics.

[2018-02-23 19:59] ct-martin opened #27 "RITlug Logo Guidelines"
Also, move logos to a consistent location, such as runbook/governance

[2018-02-23 20:12] ct-martin opened #28 "Poster Redesign"
The current posters we are using have a handful of issues, including that they don't always print well.

Goals of the new poster template:
* Works in Black & White, and Color (there can be two templates if needed, but this also may add work in the future)
* Make sure it has the website on it
* Clean design (white background, don't need to fill every inch)
* Pics, but also don't overdo it

[2018-02-23 20:12] ct-martin commented on #11
Logo Redesign is in #28, marking this issue as blocked

[2018-02-23 23:00] jflory7 commented on #22
This is also done for eboard meetings now. Starting March 2nd, we're meeting on Fridays in GOL-3455 from 2:30pm to 3:30pm.

Closing as complete. Thanks @axk4545 for following through on this.

[2018-02-23 23:00] #22 closed

[2018-02-24 03:43] #11 closed

[2018-02-24 03:46] #27 closed

[2018-02-24 03:56] jflory7 commented on #25
@axk4545 @ct-martin This task is currently on the ["In progress" board](https://github.com/orgs/RITlug/projects/1#card-7473930). Do we have any progress on this or should we shift this to the backlog?

[2018-02-24 04:02] jflory7 opened #29 "Provision NextCloud VM box, work with @ct-martin on access"
@axk4545 is working on setting up a VM in @Serubin's server for NextCloud. This unblocks @ct-martin from the NextCloud base installation.

**DUE**: 2018-02-25

[2018-02-24 04:05] jflory7 opened #30 "Install basic NextCloud server onto Titan VM"
Once the VM on Titan is ready, @ct-martin will do a base install of NextCloud onto the virtual machine. After this, we are blocked on policy discussions to decide how we want to offer this service to RITlug.

* **DUE**: ~2018-04-06~ 2018-04-20

[2018-02-24 04:23] jflory7 commented on #2
The RITlug brand (including posters) now lives in [RITlug/brand](https://github.com/RITlug/brand).

The poster redesign work is superseded by #28. @ct-martin Thank you for filing that.

I'm closing this ticket as complete since I think we were confused on what the next step was.

[2018-02-24 04:23] #2 closed

[2018-02-24 18:30] axk4545 commented on #29
Currently blocked on @Serubin speaking to ITS/RIT about getting more IP addresses. Some of our current allocation has lapsed registrations.

[2018-02-24 18:33] jflory7 commented on #29
@axk4545 Does this block provisioning the machine or only offering it on a public network? If possible, it would be nice to continue setting up the box and then later make it public once the IPs are resolved.

[2018-02-24 18:35] axk4545 commented on #29
@jflory7 @ct-martin It blocks on anything beyond doing a base Ubuntu Server install. I cannot grant ssh until it can get an IP.

[2018-02-24 18:44] Serubin commented on #29
@jflory7 No IP means no internet, unfortunately. I've been trying to get a conversation started with @n8felton without much success. I'll try and rope him in here.

[2018-02-25 02:52] n8felton commented on #29
Oh hey, this is a thing. Whatcha need? This will probably be one of those things where you just need to nag me until it's done.

[2018-03-02 22:07] Serubin commented on #29
Hey @n8felton, thanks for getting back to us so quick. We lost our leases on a bunch of MACs/IPs.

First and foremost we're hoping to get some MACs registered again. I have a list of 10 which we have connected to a temp VM to keep them active on the network. Could these be registered to the RIT network, please?

[code]

The second issue is about who the computers are registered to. Right now I own

[2018-03-02 22:21] cwhits commented on #29
@Serubin do you have hostnames for these or is there a specific record you want them attached to?

[2018-03-02 22:41] Serubin commented on #29
@cwhits We've been going with x-lug.rit.edu. We're not particularly picky on host names because we end up using ritlug.com for dns.

[2018-03-06 17:19] Serubin commented on #29
@cwhits @n8felton looks like we have access tothe ritlug user, so let's attach them to that account. I'll also post some registrations that should be transferred to that account as well.

[2018-03-21 18:34] harlanhaskins commented on #19
Hey y’all! What time of day are these meetings? I’m still committed to 4/6 but I want to make sure my co-presenter is able. If he’s not, I can present his parts.

[2018-03-21 18:56] ct-martin commented on #19
@harlanhaskins 4-6PM (EST) in GOL/70-2620

[2018-03-21 19:14] Serubin commented on #29
@cwhits @n8felton Any updates?

[2018-03-21 22:44] jflory7 commented on #25
I'm going to shift this to the backlog as it's still blocked and there are no further updates.

[2018-03-21 22:45] axk4545 commented on #25
@jflory is it blocked on me?

On Wed, Mar 21, 2018, 6:44 PM Justin W. Flory <notifications@github.com>
wrote:

[2018-03-21 23:01] jflory7 opened #32 "Fix Slack Archive bot"
The Slack Archive has not logged new messages since Dec. 24, 2017. I need to investigate and work on getting it back to logging new messages.

https://rit-lug.slackarchive.io/

[2018-03-22 04:52] ct-martin commented on #25
I think it's blocked on me making a mock-up/draft. It's a low priority for
me b/c time and this is also a long term thing.

--
Christian Martin (Phone)

On Wed, Mar 21, 2018, 6:45 PM Aidan Kahrs <notifications@github.com> wrote:

[2018-03-23 18:44] ct-martin commented on #26
Voted in the eboard meeting that we don't have the (human) resources to do this

[2018-03-23 18:44] #26 closed

[2018-03-23 21:53] ct-martin commented on #19
@zedjones has interest in a talk on Godot

[2018-03-24 00:11] zethra commented on #19
I could do a very short talk about printing with netcat.  I also have a Rust talk in the works.

[2018-03-27 13:00] axk4545 commented on #29
We have IP addresses! Thank you @Serubin

[2018-03-27 14:42] Serubin commented on #29
Thank @cwhits, not me!

[2018-03-27 14:57] jflory7 commented on #29
Woot, awesome! This ticket is now unblocked.

@axk4545, when do you think you can set up the VM, so we can move forward with #30? Note this is only the VM setup for this ticket.

[2018-03-30 18:45] jflory7 opened #33 "Create new project board for talk ideas"
We want the ability to get community input / participation without limiting visibility to eboard only.

@ct-martin is leading this one.

[2018-03-30 18:46] axk4545 commented on #29
VM is setup and @ct-martin has access.

[2018-03-30 18:46] #29 closed

[2018-03-30 18:52] axk4545 commented on #29
DNS records also configured

[2018-03-30 19:06] jflory7 opened #34 "Complete order of new RITlug sticker batch"
@Tjzabel is working on ordering a new batch of stickers for RITlug. He needs to get a number on total stickers and cost, and fill out the EAF form from RIT to move forward on this.

[2018-03-30 19:08] jwflory opened #35 "Complete order of new embroidered tablecloth"
@TaylorBowling is going to help us order a new tablecloth to use at events with the updated RITlug logo. The goal is to have it by Imagine RIT. We will likely use The Hub for path of least resistance.

[2018-03-30 20:46] jflory7 commented on #29
@axk4545 Specifically, the DNS records were `cloud.ritlug.com` and `collabora.ritlug.com`. :slightly_smiling_face:

[2018-03-31 18:59] jflory7 commented on #10
@TaylorBowling is working on this for this semester. We are planning for Wednesday, April 18, 2018 at Outback Steakhouse. Outback will donate 15% of the final amount to RITlug if we bring in 20 or more people. This will help us with fundraising and will also give a chance to have a dinner before the looming end of finals approaches.

I will put out a "save the date" email on the FOSSRIT mailing li

[2018-03-31 19:29] jflory7 commented on #20
This is a duplicate of #10. @TaylorBowling is organizing a FOSS Family Dinner for April 18, 2018. See #10 for more information.

[2018-03-31 19:29] #20 closed

[2018-03-31 19:36] jflory7 commented on #19
Hi @harlanhaskins! Could you send us an 3-4 sentence abstract of your talk to include in this upcoming week's email announcement? If you can get this to us by Sunday night, we can ship the announcement on time for Monday.

Also, if you want folks to bring a computer or have anything set up in advance, that will also be helpful to know.

[2018-03-31 19:38] harlanhaskins commented on #19
I’ll need an HDMI cable/input, but that’s all I’ll need.

Session Description:
Swift is a landmark open-source project with hundreds of contributors and many many times more users.  The Swift community is full of intelligent, insightful users ready to contribute their voice to the project. Join Harlan and Robert, two former interns on the Swift team, on a journey from checking out source to closin

[2018-03-31 19:53] jflory7 commented on #19
@harlanhaskins Perfect, thanks! We will have this out on Monday.

[2018-03-31 20:04] jflory7 commented on #28
@ct-martin Could you submit a pull request to [RITlug/brand](https://github.com/RITlug/brand) and replace the [template poster](https://github.com/RITlug/brand/blob/master/poster/template.svg) with the file you currently have?

[2018-03-31 20:18] jflory7 commented on #24
Our schedule is mostly filled for this semester, as shown in #19. We brought in a few new guest speakers and had some who were unable to make it this semester (will try again in the fall).

Closing as complete. We can re-file again when needed in the future.

[2018-03-31 20:18] #24 closed

[2018-04-02 16:13] harlanhaskins commented on #19
https://appbuilders.ch/ Is the landing page for the conference I’ll be giving this talk at, by the way.

[2018-04-02 16:35] jflory7 commented on #19
@harlanhaskins Awesome! I didn't know you were traveling for this one. We just shipped the email announcement now, so it should be propagating around. We'll try and build some awareness in other places too!

[2018-04-03 14:11] jflory7 opened #36 "Create exclusion list of VMs to not back up"
@Serubin asked RITlug to help support the costs of backups on Titan, the primary hosted server for RITlug. We want to complete this payment by the end of this semester to effectively use the remainder of our budget.

@axk4545 and @ct-martin need to pass @Serubin a list of VMs to _not_ back up in the backup scheme. Some especially large VMs are easily reproduced with Ansible and do not contain pers

[2018-04-05 05:07] ct-martin commented on #30
Have to push off until 4/20 due to things popping up and looking at projects due

[2018-04-05 17:15] jflory7 commented on #36
Let's address this at the eboard meeting tomorrow.

[2018-04-06 19:00] jflory7 commented on #30
@axk4545 is going to help with this because Christian is short on bandwidth with classes. He is working on getting a bare minimum install and then we will revisit configuration at next week's eboard meeting.

[2018-04-06 19:04] jflory7 commented on #28
This is now complete. The updated poster is [in RITlug/brand](https://github.com/RITlug/brand/tree/master/poster). There is still an issue with the font, but I will file a new issue to keep track of that (since it not a blocking issue and is a minor annoyance).

@ct-martin++ Thanks for the help on the new design! :+1:

[2018-04-06 19:04] #28 closed

[2018-04-06 19:06] jflory7 opened #37 "Fix font issues with new poster templates"
There are some weird kinks with Overpass font loading and the new poster template. It makes it difficult to load the right font across different operating systems / devices.

@ct-martin has a lead on the issue, but needs to look into it more, mostly on horizontal template.

This is a low priority task since it does not block new posters, but it would be nice to have corrected.

[2018-04-06 19:10] axk4545 commented on #36
Here is what I see in Proxmox

![screenshot-2018-4-6 ritlug-titan - proxmox virtual environment](https://user-images.githubusercontent.com/3486252/38439689-9b736b38-39ac-11e8-8513-9805ca421b8f.png)

[2018-04-06 19:16] jflory7 commented on #36
@Serubin From this list that @axk4545 dug out, we can exclude 105 and 301.

I am reassigning this to you, and we can work out billing to see if we can fit it into this semester for some of 2018.

[2018-04-07 17:48] jflory7 opened #38 "Plan for RITlug exhibit at Imagine RIT on Saturday, April 28"
# Summary

Plan and organize RITlug projects to exhibit at annual [Imagine RIT](https://www.rit.edu/imagine/) festival on Saturday, April 28

# Background

RITlug is exhibiting again in the MAGIC Center for Imagine RIT. In the past, we've had a long table inside the center to exhibit various club projects. Students, alums, parents, faculty, and a few other thousand people in the Rochester communit

[2018-04-07 17:50] jwflory opened #39 "Schedule and plan weekly project collaboration meet-ups on weekends across semester"
Some of the other clubs in the Mozilla Open Source Student Network run informal hack sessions / code jams / informal code hours. It would be cool to organize something like this for RITlug on the weekends, something casual and informal. We should discuss this more, but maybe keep it on the backlog until next semester.

h/t @mirdaki @AdrianCollado @bad-science

[2018-04-07 18:05] mirdaki commented on #39
Hello from the UF Open Source Club! If you have any questions about how we do Casual Coding sessions or why we do them let me know, I'd be happy to help!

[2018-04-09 10:54] jflory7 commented on #38
## Attendees

Currently, for Imagine RIT this year, we have this list of registered volunteers:

1. Aidan Kahrs (@axk4545)
2. Ben Goldberg (@zethra)
3. Christian Martin (@ct-martin)
4. Jeffery Russell (@jrtechs)
5. Josh Bicking (@Josh1147582)
6. Justin W. Flory (@jflory7)
7. Taylor Bowling (@TaylorBowling)
8. Tim Zabel (@Tjzabel)

More people and club members are welcome to join us, but they will

[2018-04-09 14:38] axk4545 commented on #38
I will be out of town that weekend. I apologize for the short notice.

[2018-04-10 06:29] zethra commented on #38
I have a somewhat home made 3d printer I could bring in the demo.  The body of the printer is mostly made of 3d printed parts.  It's controlled by a rasbperry pi through a web interface.  I have everything I need to do the demo.  If I was going to be print stuff I'd like to be reimbursed for the filament by the club but if it's not a lot then I'm not concerned.

I also have a piece of software tha

[2018-04-10 18:19] jflory7 commented on #38
@zethra Cool! It would be cool if we could print some things out during Imagine. How much do you anticipate this costing? We are approaching the end of the year and our budget, so a cost estimate will help us figure out what we can cover for you.

[2018-04-10 18:47] zethra commented on #38
Exact price depends on the filament and print size but a small name tag like the one pictured costs about 8¢ in filament

[2018-04-11 01:32] jflory7 commented on #38
@zethra Okay, cool – does a budget of $20 sound reasonable?

Also, have you already purchased the filament or is that yet to be done? I'm trying to think of the easiest way we can cover the costs for you at Imagine with RIT clubs policy.

[2018-04-11 01:40] zethra commented on #38
@jflory7 Pricing is a bit tricky because prices and availability fluctuate.  I have two spools of filament, a green and a red, both 1kg.  The red cost me $27 and the green $23.  We could use one or both of them.  $20 would cover most of the roll.  Alternately the club could purchase it's own roll.  I typically use Hatchbox PLA. https://www.amazon.com/s/ref=nb_sb_noss_2?field-keywords=HATCHBOX+PLA

[2018-04-11 01:56] jflory7 commented on #38
@zethra I'm going to guess you don't have receipts for those two filament rolls you already purchased?

I'm thinking it will be easier to buy a new roll by RITlug with the RIT Visa card, and we can keep it for future use. Will you be at the meeting this week? We can discuss and coordinate more on making the right order then if you will be. :slightly_smiling_face:

[2018-04-11 02:00] zethra commented on #38
I do have receipts from amazon, although the red spool has bee used a bit.  But I'd perfer the club by new ones.  I won't be at the meeting this week but I can come for few minute at the beginning.

[2018-04-11 02:02] axk4545 commented on #38
Makes sense to me but will let Justin have final say.

On Apr 10, 2018 10:00 PM, "Ben Goldberg" <notifications@github.com> wrote:

I do have receipts from amazon, although the red spool has bee used a bit.
But I'd perfer the club by new ones. I won't be at the meeting this week
but I can come for few minute at the beginning.

—
You are receiving this because you were assigned.
Reply to this email

[2018-04-11 19:20] Tjzabel commented on #38
## TIgerOS Necessities Update
The TigerOS Team has created a [list of necessities needed](https://github.com/RITlug/TigerOS/issues/123).

[2018-04-12 16:17] jflory7 commented on #32
It seems like all account information was lost. I generated a new API token in Slack and set up the configuration again. Hopefully our SlackArchive will be updated again in the next 72 hours.

This time, I used `ritlug [at] gmail [dot] com` for the registration address.

[2018-04-15 06:58] Tjzabel commented on #35
At the moment, it seems we will not be ordering a tablecloth _this_ semester. @TaylorBowling has mentioned he may go out and buy us a tablecloth as a donation

[2018-04-15 07:11] Tjzabel commented on #34
## Stickers Status Update

The current price is $56 with [stickermule](https://www.stickermule.com/). This includes the [vertical image](https://raw.githubusercontent.com/RITlug/brand/master/logo/png/vertical_color_no_wordmark.png) and [horizontal image](https://raw.githubusercontent.com/RITlug/brand/master/logo/png/horizontal_color_no_wordmark.png).

### Size Options
* At the moment, vertical sti

[2018-04-15 07:16] Tjzabel commented on #25
# Image Idea
![RITlug Logo](https://raw.githubusercontent.com/RITlug/brand/master/logo/png/vertical_color_no_wordmark.png)

### This image is very simple, and would not require much expertise to paint freehand.

[2018-04-15 11:40] axk4545 commented on #15
FWIW I wrote one post of my own on TigerOS. It is at
https://axk4545.me/2018/03/28/TigerOS/

On Sun, Apr 15, 2018, 3:19 AM Tim Zabel <notifications@github.com> wrote:

[2018-04-15 17:02] jflory7 commented on #36
I'm closing this ticket as complete. We know we don't want to back up 105 and 301. We need to process payments for backups this week if we will fit it into the budget for this semester. If we cannot get an EAF form process started, we won't be able to pay for the backups until next semester.

[2018-04-15 17:02] #36 closed

[2018-04-15 17:03] jflory7 commented on #34
@Tjzabel How many stickers did you estimate for?

I think the horizontal stickers would be nicer. There's less whitespace between the penguin and the banner. What do you think?

[2018-04-15 17:04] jflory7 commented on #10
@Tjzabel Let's keep it open until we have the donation processed and confirmed for inclusion in our club budget.

[2018-04-15 17:06] jflory7 commented on #32
Marking this as blocked. Theoretically, if it does not magically update over the next week or two, there's probably not much we can do. I've done the work to request a new archive and there isn't much available for support from the service. We can revisit this later, and if no change, then we honestly can conveniently forget about it.

[2018-04-15 17:10] jflory7 commented on #15
@Tjzabel I like the idea of drafting a new article to introduce the entire project around a beta release. We should aim to publish on Opensource.com. We can use @axk4545's as a reference and revisit for any information next semester.

[2018-04-15 17:29] jflory7 commented on #25
@ct-martin Since we are not making a profit from this work, I am fairly certain we could use the image via [fair use doctrine](https://www.copyright.gov/fair-use/more-info.html) (see [Section 107 of the Copyright Act](https://www.copyright.gov/title17/92chap1.html#107)).

It may be a complicated design to do – the image I am thinking of would be difficult to paint onto a wall, but maybe you have s

[2018-04-15 17:35] ct-martin commented on #25
Part of the work is simplifying the design. Also, the copyright thing is
more of a club office issue since that's now part of the mural design
requirements.

--
Christian Martin (Phone)

On Sun, Apr 15, 2018, 1:29 PM Justin W. Flory <notifications@github.com>
wrote:

[2018-04-15 17:36] ct-martin commented on #25
Also, the logo will be in the edited version

--
Christian Martin (Phone)

On Sun, Apr 15, 2018, 1:35 PM Christian Martin (RIT Student) <
ctm2142@rit.edu> wrote:

[2018-04-15 18:13] Tjzabel commented on #34
@jflory7 I am estimating 20 of each, for a total of 40. I don't want to order more stickers than we need for this semester. And I personally like the horizontal stickers more, but I think it's good to have an even set of stickers.

I was also thinking of ordering TigerOS stickers, but I will have to revisit our budget to see what we can do. Also, please let me know if you think the ratio of 1.5" f

[2018-04-15 20:57] axk4545 commented on #25
I know I am outgoing eboard but FWIW the logo might make more sense than our original idea.

[2018-04-16 00:13] axk4545 commented on #34
@Tjzabel21 we don't officially have a TigerOS logo yet...

On Sun, Apr 15, 2018, 2:13 PM Tim Zabel <notifications@github.com> wrote:

[2018-04-18 21:36] ct-martin commented on #33
Done, can be found here: https://github.com/orgs/RITlug/projects/3

[2018-04-18 22:02] ct-martin commented on #30
Done, see #14

[2018-04-18 22:02] #30 closed

[2018-04-19 14:04] jflory7 commented on #33
Let's keep this open until we have a chance to review and talk about it as an eboard.

[2018-04-20 18:51] ct-martin opened #40 "Financial Certification Test for Fall 2018"
_**Required** to use club budget_

From past precedent, it would be good to wait until fall semester before taking the test (and getting verification from club office it's up to date).

[2018-04-20 19:14] ct-martin opened #41 "Figure out Facebook"
We have a Facebook apparently. Wait, you're surprised? Most of us were too.

What do we want to do with it?
* Close it
* Set up an IFTTT hook to just repost the website
  * Easy low-maintenance way to keep a presence

[2018-04-23 19:02] ct-martin opened #42 "Project board for Infrastructure SIG"
* RITlug is looking to expand student member involvement in RITlug infrastructure
* We recently have regained access to several RITlug-owned servers in one of RIT's datacenters and want to put them to good use after we evaluate their specs and what needs to be done to get them operational again (they've been offline for years but at first glance appear to be modern enough to use)
  * After that, w

[2018-04-23 19:10] ct-martin commented on #42
As per @jflory7 's precedent, leaving open until we look at in eboard meeting

[2018-04-23 21:00] ct-martin opened #43 "RITpedia Page"
SG is [running an event to update pages on RITpedia](https://www.facebook.com/events/712906935765957/). Even if we don't attend, this is something we should do.

cc @jflory7 since you're into this stuff and have experience.

[2018-04-23 21:28] ct-martin commented on #38
For records, @icflournoy will be substituting for @axk4545 who will no longer be available

[2018-04-24 16:01] ct-martin commented on #38
@jflory7 could you please pick your desired start time and send out a calendar invite? (And document that time here)

[2018-04-25 09:28] jflory7 commented on #38
I'm trying to find the start time for the MAGIC Center this Saturday. Stay tuned.

[2018-04-25 23:58] Tjzabel commented on #10
@jflory7 has our donation been processed?

[2018-04-26 01:25] jflory7 commented on #32
Two weeks have passed and no update after submitting the API token again. There is no support or obvious way of contacting the developers. We can pretend like this never happened, I guess. It's disappointing.

[2018-04-26 01:26] #32 closed

[2018-04-26 01:29] jflory7 commented on #8
Removing end-of-semester milestone. This will not be completed this semester, but I'm still happy with the progress made so far. This work will continue over the summer, and if necessary, into the fall semester. @icflournoy is our new secretary and he'll also help out with the Runbook as needed too.

Stay tuned!

[2018-04-26 03:37] TaylorBowling commented on #10
@jflory7 @Tjzabel Our donation has been processed, and is being mailed directly to our contact in the club office, who will deposit it into our account.

[2018-04-27 03:28] ct-martin commented on #38
Checklist from last week's eboard meeting notes:

## Projects
* TigerOS
* Taylor
  * Gameboy costume
* Jeffrey’s Music Player
* Ben 3D Printer
* **We need to figure out what power requirements are for each project**

Supplies:
* Tablecloth
* Monitor
* Keyboard
* Laptop
* Powerstrips - how much power?
  * Magic has a box of a lot
  * Ping Schneidy

[2018-04-27 19:14] ct-martin commented on #42
All go!

[2018-04-27 19:14] #42 closed

[2018-04-27 19:19] #33 closed

[2018-04-27 19:26] jflory7 commented on #10
_Discussed in 2018-04-27 eboard meeting._

The work for this semester is done. We will follow up with this next semester to make sure the money is in our budget for the 2018-2019 academic year.

[2018-04-29 20:57] Tjzabel commented on #38
ImagineRIT went as planned :+1:

[2018-04-29 20:57] #38 closed

[2018-04-29 20:58] Tjzabel commented on #34
stickers are to arrive Friday, May 4th!

[2018-04-29 20:59] Tjzabel commented on #19
It's a wrap! Spring semester RITlug meetings are over. Will open Fall Semester semester planning soon.

[2018-04-29 20:59] #19 closed

[2018-04-29 21:02] Tjzabel commented on #43
@ct-martin I'm not sure this is something RITlug should do. While it seems like a fun idea, the RITpedia does not have a clubs section, and it does not make sense to add one for the purpose of adding RITlug to it.

[2018-04-29 21:34] ct-martin commented on #43
@Tjzabel it does exist, you can find it here: https://ritpedia.rit.edu/Club

[2018-04-29 21:41] Tjzabel commented on #43
@ct-martin thanks for the link! Honestly couldn't find it. Then yes, I definitely think we should do this :+1:

[2018-04-30 13:30] jflory7 commented on #38
Here's some proof that @Tjzabel wasn't lying. :smile:

* **Twitter**: [[1](https://twitter.com/RITlug/status/990220351471869953)], [[2](https://twitter.com/KST123ABC/status/990330570231238656)], [[3](https://twitter.com/RITlug/status/990335492892889089)], [[4](https://twitter.com/RITMAGIC/status/990339153291292673)]

![RITlug table set-up / getting ready](https://user-images.githubusercontent.com/

[2018-04-30 13:37] jflory7 commented on #34
Woot, awesome! Thanks @Tjzabel for getting the EAF form done.

Let's keep this open for now until they arrive and after we figure out storage / distribution for next semester. I'm sure some of us might want to take a couple too to distribute over the summer.

[2018-05-10 00:38] Tjzabel opened #44 "Fall Semester (2018) Schedule Planning"
Week | Day | Title | Brief | Workshop | Owner
-- | -- | -- | -- | -- | --
01 | Aug. 31 | No Meeting | N/A | N/A | N/A
02 | Sept. 7 | Intro to RITlug | Intro to what the club is about and who the leaders are  | N/A  | @ct-martin @jwflory @jrtechs
03 | Sept. 14 | RITlug: What we do & how to get involved  | What projects are RITlug involved with? Come find out! | N/A | @ct-martin @jrtechs @jwflory
04

[2018-05-14 19:20] axk4545 opened #45 "Update logo and possibly link on MAGIC site"
The [MAGIC site](https://magic.rit.edu/?page_id=1008) has our old logo under the partners and collaborators. It might be good to have this updated.

[2018-05-28 17:30] ct-martin opened #46 "Fix Slack<-> IRC bridge"
Slack<->IRC bridge has stopped sending messages. A runbook entry for where it's hosted would also be generally helpful.

[2018-06-02 22:51] jwflory opened #47 "Set up RITlug Namecheap account"
We need to set up a club Namecheap account to handle domain registrations and renewals. Currently, `ritlug.com` and `ritlug.club` are owned under @repkam09's personal Namecheap account. Me, @Serubin, and @ct-martin have access under our personal accounts, but for the long-term, we should move this to a club-managed account.

We can tackle this next semester.

[2018-06-03 17:09] axk4545 opened #48 "Replace slack bridge bot"
In a recent update to the bot code that relays messages between IRC and slack, the behavior of the bot changed so that when viewing messages on Slack there is no indication of the IRC side user that sent the message. It appears this may only be an issue when using Slack on mobile.

This is somewhat of an annoyance and it would be nice to remedy it.

[2018-06-03 17:09] axk4545 commented on #48
tagging @Tjzabel since I think he mentioned experiencing it as well.

[2018-06-03 17:45] jflory7 commented on #48
Marking this as `needs info`. Not sure if the issue is with the bot, Slack, or something else. The bot itself hasn't changed nor has it been updated since I began running it. It may be that I need to run a `git pull` to update it.

@axk4545 Could you please attach a screenshot of what you mean? I haven't actually noticed this behavior myself.

[2018-06-03 18:42] axk4545 commented on #48
See attached for screenshot

On Sun, Jun 3, 2018, 12:45 PM Justin W. Flory <notifications@github.com>
wrote:

[2018-06-03 23:06] jflory7 commented on #48
@axk4545 Attachments don't come through via email. Could you drag and drop it into the issue?

[2018-06-04 14:53] repkam09 commented on #47
Yes! This would be good :)

[2018-06-10 16:49] ct-martin commented on #48
Update: This appears to be a change on the Slack client side, we will keep an eye on it

[2018-07-23 00:37] ct-martin commented on #48
The change in Slack appears to have been reverted, I leave it open to discussion on whether we still want to look into other options or whether we want to close the issue

[2018-07-23 16:47] jwflory commented on #48
@ct-martin I would make an assumption there was an untested API change and it is probably a fixed bug.

Given the lack of other options, I think it's best to close this as resolved if the original issue with prefixes / names are fixed.

[2018-07-23 16:47] #48 closed

[2018-07-23 16:48] jwflory commented on #8
I've made a lot of progress on this over the last year, but I could use some help to complete some of the remaining docs.

[2018-07-23 16:57] ct-martin commented on #8
@jwflory For the president page, base it off the VP page and make the two explicitly related. Website & Announcements (inc. Talks) pages can be left to me. Otherwise, what do you need help on?

[2018-08-03 01:17] jwflory opened #49 "Update introduction to RITlug slides for first meeting"
In today's eboard meeting, we noted to revisit the [intro slides](https://docs.google.com/presentation/d/1q0YKfWlrdil1al5fcnCegK9oyXkS3yG7D-VEQDJ2ZRU/edit?usp=sharing) and rework the flow a little bit and add a slide or two before the first meeting. This is assigned to @Tjzabel since he is scheduled to lead this presentation in #44.

[2018-08-03 01:48] Tjzabel opened #50 "Finalize Talk Titles by August 21st"

[2018-08-03 01:54] ct-martin commented on #49
Tim will not be on campus this fall

[2018-08-03 01:58] ct-martin commented on #50
For context, this is **critical for the September talks** because I need time to make the posters/fliers/whatever we have printed for club gala.

This date is being set by me and **is a hard date** defined by when I'm back. This accounts for time to review what I make because I won't have access to a printer 2AM on the night before club gala.

[2018-08-03 04:11] ct-martin commented on #49
Partly reflowed & updated to match discussion in meeting/after-meeting:
- Couple style updates to match new template
- Added "What is Linux" section (this is from after-meeting when we moved the schedule around & merged that talk into this one)
- Updated most (hopefully all) information about when/where/who
- Moved member introductions to end (based on meeting)
- Updated meeting format to closer m

[2018-08-03 04:13] ct-martin commented on #49
Moving from "critical" to "high" - should be moved back to "critical" if we don't meet before Club Gala

[2018-08-03 15:08] jwflory commented on #44
@jrtechs Since @Tjzabel is not on campus this fall, do you want to take ownership on the first week talk? We'll be happy to help you with this too.

[2018-08-03 21:06] jrtechs commented on #49
@ct-martin I just added my picture to the slides.

[2018-08-03 21:09] jrtechs commented on #45
I just emailed Dr Egert (MAGIC sysadmin) about updating the logo on the MAGIC site.

[2018-08-04 11:14] jrtechs commented on #44
@jwflory Cool, I just updated the schedule to reflect that and our tentative plan from the google doc.

[2018-08-22 15:28] Tjzabel commented on #41
I _personally_ think we should just remove the Facebook page. I do agree it would be a low-maintenance way to keep some sort of presence, so let me know what y'all think.

[2018-08-22 22:47] jwflory commented on #41
@Tjzabel Without resources to moderate and maintain it, I think it's better to close it out. We could maintain it, but in the event something comes up where someone says something inappropriate or disrespectful to someone else, but nobody is keeping up with the page, it could reflect poorly on us.

[2018-08-24 01:51] #50 closed

[2018-08-28 20:33] jwflory opened #51 "Document CampusGroups announcements process in Runbook"
# Summary

Update [Announcements Runbook page](http://runbook.ritlug.com/en/latest/tasks/announcements.html) to offer instructions with CampusGroups mailing list

# Background

This semester, we decided to commit to using the CampusGroups mailing list. @ct-martin has used it some already for first week announcements. This decision was made to avoid emails being marked as spam.

# Details

The Runb

[2018-08-28 20:36] ct-martin commented on #51
Currently blocked on getting the Google Group to receive emails; will talk to @jwflory about during FOSS Hours

[2018-08-31 20:42] jwflory opened #52 "Review projects introduction presentation for Sept. 14 meeting"
# Summary

Review [projects presentation](https://docs.google.com/presentation/d/1PStO5cN60xwnaNvHLE1ksmGf4u4mxxe62He9-hQ3GF0/edit#slide=id.g3fe4913624_1_66) for Sept. 14 meeting

# Background

We briefly looked over the [projects presentation](https://docs.google.com/presentation/d/1PStO5cN60xwnaNvHLE1ksmGf4u4mxxe62He9-hQ3GF0/edit#slide=id.g3fe4913624_1_66) in our eboard meeting. We wanted to hav

[2018-08-31 20:44] #49 closed

[2018-08-31 20:45] jwflory commented on #49
We reviewed the slides during our eboard meeting. @jrtechs and @jibby0 will pair on presenting it next Friday.

[2018-08-31 20:45] jrtechs commented on #45
Adding @ct-martin to follow up with Dr Egert since he hasn't replied.

[2018-08-31 20:54] ct-martin opened #53 "Get ritlug RIT DCE account fixed"
It appears the `ritlug` DCE account (including ritlug@rit.edu) has been disabled - this needs to be fixed for CLAWS registration of servers & for the email forwarder (which should go to eboard@ritlug.com).

[2018-08-31 20:54] jrtechs commented on #40
This is the link for the certification test:
[https://www.rit.edu/studentaffairs/campuslife/financial-certification-test](https://www.rit.edu/studentaffairs/campuslife/financial-certification-test)

[2018-08-31 21:01] jwflory opened #54 "Integrate signin.ritlug.com with CampusGroups sign-in"
# Summary

Use CampusGroups attendance system for weekly meeting attendance tracking

# Background

This system integrates better with the system of RIT Clubs Office and helps make our club more visible inside of RIT's clubs social network. It may be helpful to show activity and engagement with our club to external actors.

# Details

@ct-martin has some ideas on this one, but wants to explore it

[2018-08-31 21:06] jwflory commented on #47
@repkam09 A new RITlug Namecheap account was created, username is `ritlinuxusersgroup` and the email is the RITlug Gmail. Could you try transferring the domains when you have a chance?

[2018-08-31 21:09] ct-martin opened #55 "CampusGroups welcome emails"
We can auto-send an email to new members when they join on CampusGroups - this would be good to have the basic info on (website, Slack, etc.)

[2018-08-31 21:17] ct-martin commented on #54
Put in the link for first meeting sign-in, will update when we figure out how the process works

[2018-08-31 21:38] jwflory commented on #43
_Discussed in 2018-08-31 eboard meeting._

---

This issue is blocked by login to RITpedia not working. Moving to backlog and marking as blocked.

[2018-08-31 22:13] jwflory commented on #7
Given the context of what we are trying to organize and accomplish in this coming year, I think there are other needs for us to focus on and address for the coming year of RITlug. Once other ongoing work and tasks are resolved, this ticket can be reopened or considered in the future, beyond 2019.

[2018-08-31 22:13] #7 closed

[2018-09-01 00:32] ct-martin commented on #54
Also, tried the interface with the eboard members in the meeting and it was really easy to do. Week 1 will be a trial though, and it has a manual overhead of needing the link changed ever week unless I can find a better place to link to (WIP)

[2018-09-01 00:34] ct-martin commented on #52
@Tjzabel will not be here to present. Would appreciate if @Tjzabel and @jibby0 would review TigerOS slides and suggest additions

[2018-09-01 00:34] ct-martin commented on #52
Also mentioned during meeting that GitHub links should be added

[2018-09-01 00:35] jwflory commented on #40
I am now financially certified. Removing myself from assignees.

[2018-09-01 15:42] icflournoy commented on #40
I am now certified!

[2018-09-01 16:40] jwflory commented on #8
Adding @Tjzabel, @jrtechs, @icflournoy, and @ct-martin as assignees for RITlug/runbook#49, RITlug/runbook#50, RITlug/runbook#51, and RITlug/runbook#54.

[2018-09-01 16:40] ct-martin commented on #40
Done

[2018-09-01 18:27] ct-martin commented on #54
The closest to a permanent link I can find is https://campusgroups.rit.edu/events?group_ids=16071
This is a major hassle to sign-in through compared to the auto-sign-in links, but it will cover more than one event. If eboard can't keep on top of updating signin.ritlug.com then that link should be used.

[2018-09-01 19:09] ct-martin commented on #55
Sent to @RITlug/eboard-current for review

[2018-09-01 21:43] jrtechs commented on #40
Just got certified.

[2018-09-01 22:30] jibby0 commented on #55
Looks good! Seems like a nice way to encourage new, interested members to stick around.

[2018-09-02 00:37] ct-martin commented on #55
@jwflory also took a look, added to CampusGroups

[2018-09-02 01:58] ct-martin commented on #45
Dr. Egert replied that he had submitted a request last time we asked and that he would follow-up with them on making sure it gets done on Tuesday

[2018-09-02 19:54] jibby0 commented on #40
I'm all certified.

[2018-09-02 23:01] ct-martin commented on #45
Done

[2018-09-02 23:01] #45 closed

[2018-09-04 00:40] jwflory commented on #54
I suggest defaulting the `signin.ritlug.com` alias to this CampusGroups URL. We can make short-term short URLs with a URL shortener for individual meeting sign-ins. This ensures stable functionality with the sub-domain (lowers a possibility of something breaking suddenly for two or three eboards in the future) but also allows us to conveniently make shorter URLs for individual meetings for when we

[2018-09-04 00:40] jwflory commented on #55
@ct-martin Could you add a screenshot here for future reference?

[2018-09-04 00:49] jwflory commented on #43
@ct-martin Let us know here if you get any follow-up so we can re-investigate and unblock the ticket.

[2018-09-04 01:00] ct-martin commented on #43
@jwflory given the long weekend I do not anticipate a reply for another day or two

[2018-09-04 01:03] ct-martin commented on #54
@jwflory I would, except that the way that link does it is **extremely** circuitous and painful to do. Compared to the very painless process for the direct link, the different is huge. I will be trialling the direct link this week to see how it goes.

[2018-09-04 01:03] ct-martin commented on #54
@jwflory another idea you had was to sent it to a Google Docs PDF, which might be do-able. I'm going to consider this issue as blocked until Friday/

[2018-09-04 01:06] ct-martin commented on #55
![image](https://user-images.githubusercontent.com/25327135/45004735-1fae5a80-afbd-11e8-8619-1eb7bcaa1a33.png)
![image](https://user-images.githubusercontent.com/25327135/45004750-36ed4800-afbd-11e8-96ff-0a0337c97088.png)

[2018-09-04 01:06] #55 closed

[2018-09-04 01:15] jwflory commented on #54
@ct-martin A fixed record for `signin.ritlug.com` prevents a manual task to remember each week. We should strive to automate and simplify our workflow so we can better focus on more challenging and complex tasks. I am -1 to requiring the DNS redirect for the sub-domain changed manually each week because of the high risk of it being forgotten, for both this and future eboards.

I am +0 for the idea

[2018-09-05 19:36] ct-martin opened #56 "Update MAGIC Mirror"
Assigned to Nathaniel for Maker Faire Rochester; RITlug is storing the physical mirror but Nathaniel has the Pi to update.

[2018-09-05 19:57] jwflory commented on #56
cc: @nlMeminger ^^

[2018-09-05 20:42] Tjzabel commented on #56
@nlMeminger It would also be a good idea to explain what needs updating. That way we can gauge the work that has been done and see results.

[2018-09-05 20:47] Tjzabel commented on #41
@jwflory I'm all for closing out the page. It would be a good idea to post once more pointing to campusgroups/slack/twitter etc so members who are only subscribed to the group know where else to look for us

[2018-09-05 20:47] Tjzabel commented on #40
As an update, I'm currently working on this little by little

[2018-09-05 20:59] Tjzabel commented on #39
@jwflory I feel this could be a great thing to integrate into FOSS Hours.

[2018-09-05 22:16] nlMeminger commented on #56
I'll have to dig into whats there before I know exactly what needs to be done to update everything, but I will update here when I have that figured out.

From what @ct-martin was telling me about it, it just sounds like the MagicMirror software needs to be updated to the latest release, and maybe reconfigure the modules on the screen to fit.  I might also play around with adding some different mod

[2018-09-05 23:06] ct-martin commented on #39
While that is a common activity of FOSS Hours, I would like to add that
FOSS Hours is not a RITlug activity (it's under FOSS@MAGIC)

--
Christian Martin (Phone)

On Wed, Sep 5, 2018, 5:00 PM Tim Zabel <notifications@github.com> wrote:

[2018-09-05 23:37] ct-martin commented on #41
Just to put one, someone mentioned in the Slack this summer that they found
us from the Facebook page, but as mentioned we don't have the ability to
maintain it. We could create a Facebook account using the root Gmail and
set it to only IFTTT being able to post to it

--
Christian Martin

On Wed, Sep 5, 2018 at 4:47 PM Tim Zabel <notifications@github.com> wrote:

[2018-09-06 00:10] Tjzabel commented on #41
@ct-martin That is why posting once more about everywhere else we can be found would be a good idea. It would give those who only follow us on facebook a chance to continue following us, whether that be through the mailing list or other means.

That being said, I don't think it is overly necessary to create an IFTTT hook just to post on facebook. We haven't used the page in years.

[2018-09-06 00:11] Tjzabel commented on #39
@ct-martin Yep, I'm aware FOSS Hours is not a RITlug activity. It is, however, a much easier and simpler method of introducing casual coding sessions into the FOSS (including RITlug) communy.

[2018-09-07 06:11] ct-martin commented on #10
@jwflory @jibby0 Please follow up with club office to see if there were issues with this going through. Based on the money I'm seeing in CampusGroups it appears that this might not have as the budget we have does not match the bracket of what SG says we should be allocated.

[2018-09-07 06:12] ct-martin commented on #10
@TaylorBowling please post in #eboard-alums on Slack with how much we should have gotten from the event and when we were told the payment was sent

[2018-09-07 06:39] ct-martin commented on #39
@Tjzabel FOSS Hours is not just about casual coding, we also do FOSS Talks and many meetings end up in a discussion rather than the coding we brought with us. I would pitch FOSS Hours to RITlug regardless, but if RITlug is committed to making the original intent as a RITlug event and sometimes to get a hack session done, then I will strongly maintain that FOSS Hours is not the answer to this issue

[2018-09-07 10:57] jwflory commented on #53
@ct-martin What is the suggested action on this ticket?

[2018-09-07 10:59] ct-martin commented on #53
Contact club office with the email in the club manual

--
Christian Martin (Phone)

On Fri, Sep 7, 2018, 6:57 AM Justin W. Flory <notifications@github.com>
wrote:

[2018-09-07 11:04] jwflory commented on #54
We also need to consider the experience for eboard members to maintain the systems we create now and in the future. I suggest we put this up to vote by all eboard members at the next eboard meeting.

[2018-09-07 14:28] jwflory commented on #10
I followed up with @TaylorBowling. From the GroupRaise platform dashboard, we raised $77.95.

![Screenshot of GroupRaise fundraising platform of our revenue from FOSS Dinner](https://user-images.githubusercontent.com/4721034/45224699-96cb4380-b288-11e8-823d-e501d946d934.png "Screenshot of GroupRaise fundraising platform of our revenue from FOSS Dinner")

Noting this, we should also dig up our reco

[2018-09-07 14:57] ct-martin commented on #10
Given what I remember the ballpark for the jackets being, the numbers in
CampusGroups definitely doesn't match up.

--
Christian Martin (Phone)

On Fri, Sep 7, 2018, 10:30 AM Justin W. Flory <notifications@github.com>
wrote:

[2018-09-08 20:03] jrtechs commented on #53
I will be emailing ITS this weekend concerning the issue.

[2018-09-09 16:36] jwflory commented on #10
To update, @jibby0 is meeting Clubs Office to discuss budget on Monday (tomorrow) at 3pm.

[2018-09-10 02:27] jwflory opened #57 "Bring governance under same publishing mechanism as Runbook"
# Summary

Set up [RITlug governance documents](https://github.com/RITlug/governance) with same [Sphinx](http://www.sphinx-doc.org/)-based format with [ReadTheDocs](https://readthedocs.org/) publishing

# Background

Now that the Runbook on ReadTheDocs had its first anniversary, it has proven to be a good system for automatically creating stable, fixed documentation formats (like PDFs). It also en

[2018-09-10 02:33] jwflory commented on #51
Updating the priority of this ticket to critical. We need documentation on how to do this. One of us may give this a go in the next week when we send the weekly email.

[2018-09-10 02:39] jwflory commented on #15
I talked with @Tjzabel about this. We decided to make this ticket focus on writing a development update about the TigerOS recap from Flock 2018. The format will be something like a 300-500 word blog post. If possible, we can post it as a static document to our website; otherwise, we can send it as an email to our list.

The goal is to have the write-up done before the end of September. The draft c

[2018-09-10 02:45] jwflory commented on #54
Removing this from the meeting agenda to wait for @ct-martin to join in person for discussion.

[2018-09-10 12:07] jwflory commented on #15
@axk4545 A guest post on my blog (or even the [Fedora Community Blog](https://communityblog.fedoraproject.org/)) isn't a bad idea (since I can cross-post it to the [Fedora Planet](http://fedoraplanet.org/)). We can review where to put it once the draft is written and we have clarification on #51.

[2018-09-10 20:56] jrtechs commented on #10
Eboard Comment(9-10-18):
@jibby0 will out if outback sent check to RIT. Once we know if RIT received the check we will contact club office with guidance with SJ about our budget.

[2018-09-10 20:58] jrtechs commented on #15
Eboard Comment(9-10-18):
@Tjzabel is going to draft the blog post in google drive sometime in September. We will then later decide where to post it and how to send it to club members as an announcement.

[2018-09-10 21:00] jrtechs commented on #8
Eboard Comment(9-10-18):
We want to update the run-book with our SOP for how we are using the GitHub project board.

We need to update the VP, president, secretary run-book pages with how we are planning the Eboard meeting with the project board.

[2018-09-10 21:00] jrtechs commented on #40
Eboard Comment(9-10-18):
Tim is still working on his financial certification.

[2018-09-10 21:05] jrtechs commented on #52
# Eboard Comment(9-10-18):

## Action Item:

- We want to have final version of projects slides done by Wednesday (9-12-18).
- Open good first issues on some of our projects.
- Tim is writing draft content for email, and he will send it out over campus groups on Tuesday (9-11-18)

## Presentation:
@ct-martin: Talking about TigerOS,
@jwflory: Talking about TelaIRC.
@jrtechs: Talking about larger op

[2018-09-11 19:40] Tjzabel commented on #53
Fixed! Me, @jwflory and @jrtechs now have access to the new password.

[2018-09-11 19:40] #53 closed

[2018-09-11 19:41] jwflory commented on #47
Marking this ticket as blocked until we get a chance to follow up with @repkam09.

[2018-09-11 19:47] Tjzabel opened #58 "Figure out Central Location for RITlug Accounts"
### Problem
Over the years, RITlug has amassed quite a few accounts for the different services we use. At this moment, there is no central location where account information is stored, making it very difficult to figure which platforms we already have accounts for, and what the credentials are.

### Solution
Create a private location to document RITlug account credentials.

[2018-09-11 19:56] ct-martin commented on #58
Passman plugin for Nextcloud might work, but blocked on policy discussion
(forget issue #). I'd also like some degree of integration with the server
logins (LDAP/similar) if possible, although these are likely to end up as
two separate issues.

--
Christian Martin (Phone)

On Tue, Sep 11, 2018, 3:47 PM Tim Zabel <notifications@github.com> wrote:

[2018-09-11 20:17] Tjzabel commented on #58
@ct-martin Me and @jwflory had discussed potentially hosting the info within the private eboard repo in the gitlab instance. This would require no blocks and would be easily feasible to do now.

[2018-09-11 20:38] Tjzabel opened #59 "Follow up on November 2018 FOSS Family IHOP dinner fundraising"
This is now the prime time to start reaching out to restaurants for fall fundraisers. It would be a good idea to discuss at the next eboard meeting whether or not this is something we are interested in pursuing as an action item this fall.

**[RSVP here!](https://www.groupraise.com/events/76016)**

[2018-09-11 21:36] jwflory opened #60 "Organize a RITlug presence at Rochester Maker Faire 2018"
# Summary

Submit a proposal to [Rochester Maker Faire](https://rochester.makerfaire.com/) for a RITlug booth and find volunteers to table with us on Saturday, November 17, 2018

# Background

Each year, RITlug attends the Rochester Maker Faire (formerly Rochester Mini Maker Faire) (see #18). We exhibit student projects and meet people from the Rochester community. It's a great outreach opportunit

[2018-09-11 21:39] jwflory commented on #59
We briefly discussed this during FOSS Hours. @itprofjacobs suggested **Tuesday, November 27** as an ideal date to hold the dinner. It could replace FOSS Hours and we could carpool as needed from RIT.

[2018-09-12 20:09] Tjzabel commented on #60
The [club fair runbook page](http://runbook.ritlug.com/events/club-fairs/) can be helpful for the organization aspect

[2018-09-14 20:17] ct-martin opened #61 "Update link on GH Org to HTTPS"

[2018-09-15 02:50] jwflory commented on #61
This is now complete.

[2018-09-15 02:50] #61 closed

[2018-09-15 21:27] repkam09 commented on #47
Oh jeez! Sorry! Doing it right now!

[2018-09-15 21:36] jwflory commented on #47
This is done. :tada: Thanks @repkam09 for transferring them over. The RITlug Namecheap account has access. Currently, me and @ct-martin have access on our personal accounts. @Tjzabel and @jrtechs should be able to log into the club account to modify settings.

Closing as complete. :clapper:

[2018-09-15 21:36] #47 closed

[2018-09-17 15:29] Tjzabel commented on #43
@ct-martin are there any updates to this issue?

[2018-09-17 15:32] Tjzabel commented on #52
Presentation took place last Friday :+1:

[2018-09-17 15:32] #52 closed

[2018-09-17 16:04] Tjzabel opened #62 "Review September 21st RITlug Meeting"
An email has been sent out to Mr. Mezzanini to confirm his presentation for this Friday's meetings.

The status of the presentation is currently blocked on receiving a response confirming the presentation.

We should prepare a backup presentation in the event that Mr. Mezzanini cannot make this date.

[2018-09-17 18:10] Tjzabel commented on #51
I should be able to get this done, or at least a rough draft PR done, before we need to send out this week's email.

[2018-09-17 20:27] jwflory opened #63 "Discuss Long-Term Club Planning"
Notes and discussion from 2018-09-17 eboard meeting

[2018-09-17 20:50] jwflory commented on #63
## Moving beyond small tasks

Trying to scale and grow how we work on tasks and work to help us scale out club activities and participation. Thinking of smaller tasks we discussed in today's eboard meeting. Distributed processes. Solid formatting 6-12 months ahead.

When someone goes on co-op / goes away, help promote division of responsibility and find new people to step up and lead.

## Forming

[2018-09-17 20:56] jrtechs commented on #62
# Eboard Meeting Notes 9-17-18

If the presenter is unable to come, @ct-martin wants to do a intro to git presentation on Friday. Depending on time, @jwflory would also be able to do his open source talk which he is presenting elsewhere on Saturday.

# Action Items
@ct-martin will follow by Wednesday(9-19-18)

[2018-09-17 20:58] jrtechs commented on #58
# Eboard Meeting Notes 9-17-18
This is just a matter of having @Tjzabel and @jwflory putting some remaining passwords in the GitLab eboard repo.

## Action Items
@jwflory Will have this done by next Monday so we can follow up on this.

[2018-09-17 21:05] jrtechs commented on #60
# Eboard Meeting Notes 9-17-18
### Notes
- Proposal due October 15th
- 5 local eboard members are available for event @jwflory @icflournoy @ct-martin @jibby0 @jrtechs
- We should ask for more people from the club to go.
- Ideally we will have 6-8 volunteer members so people have time to talk around.

Online Proposal Contains:
-about
-what your presenting
-list of projects
-photos
-website

## Acti

[2018-09-18 00:37] jwflory commented on #44
_Note_: A more current version of this content is found [on Google Drive](https://docs.google.com/document/d/1-5QrgsyNAyBcbXkKaGckim7qK4rXAk2NYP87GpiQmRM/edit?usp=sharing). It should be converted into this issue when possible.

[2018-09-18 00:40] jwflory commented on #40
@Tjzabel Pinging for follow-up. Did you have a chance to complete this?

[2018-09-18 13:51] Tjzabel commented on #44
@jwflory thanks for the comment. I'm going to update the calendar now

[2018-09-18 14:05] Tjzabel commented on #15
After reassessing my September schedule, it seems highly unlikely that I will be able to fully complete this task during September. I will be able to at least jot down an overview or outline, but a full essay does not seem to be in scope for this month.

[2018-09-18 14:07] Tjzabel commented on #40
@jwflory I attempted and almost completed the cert last night, but a kernel upgrade broke my computer. Will try again tonight.

[2018-09-18 14:37] Tjzabel commented on #60
# Needed Items For Proposal
* Project Name or Title
* Full Description (Private, not published)
* Short Description (Public, for their website)
* Project Photo
* Do we have hands-on activity? If so, describe it
* "At my exhibit, you can learn how to..."
* What we need power for

[2018-09-18 20:23] Tjzabel opened #64 "Organize Hacktoberfest Meetup"
## Hacktoberfest is coming!

### ...What is it?
For those who don't know, [Hacktoberfest](https://hacktoberfest.digitalocean.com/) is a month-long event with GitHub and DigitalOcean aimed to get more open source contributions on GitHub.

---------------

We should think about whether or not we want to have a hacktoberfest meetup at some point during October. A Saturday/Sunday hack session would be

[2018-09-19 13:28] Tjzabel commented on #40
Finally got this done :+1:

I feel my efficiency with doing this is finally improving, so that's something!

[2018-09-19 13:28] #40 closed

[2018-09-19 16:03] ct-martin commented on #62
I have found the resources I would need to do a workshop, but don't have time to write up a complete plan today

[2018-09-19 16:06] ct-martin commented on #44
Note: most speakers haven't been confirmed yet

[2018-09-19 16:08] ct-martin commented on #64
As a note, we have a meeting set aside for Hacktoberfest in #44 (October 5th). I second that this would be a good chance to use the pizza money. If we're looking to do something outside of a meeting, we should also consider #39 (casual coding sessions) for continuing this longer-term.

[2018-09-19 16:19] Tjzabel commented on #44
@ct-martin It may also be a good idea to make a note underneath each of the guest speakers on their confirmation status

[2018-09-20 00:00] jwflory commented on #40
@Tjzabel Yay, thanks! :tada:

[2018-09-20 00:04] jwflory commented on #64
Yes. I would really like to use that pizza money. :grinning:

[2018-09-22 01:08] jasoncarr0 commented on #44
I'd like to give a talk on package management, snap, flatpak, nix/guix, and co, later in the semester.

[2018-09-22 02:48] Tjzabel commented on #44
@jasoncarr0 that would be great! Would you like to present *all* of these topics within your one presentation? Looking at our current available meeting times, what date works for you?

Snap and flatpak are super interesting. Let me know what times work for you! Thanks for the interest in giving a presentation!

If you have any further questions, don't be afraid to come up to one of the eboard memb

[2018-09-22 02:55] jasoncarr0 commented on #44
Right, so to some degree I'd like a chance to sell nix, but I'd like to explain the overview. I might have time to give a quick overview of all those topics.
I'm good for a talk, probably after the October 12 slot (unfortunately), so Nov 16th, unless another person drops out.

[2018-09-24 00:28] jwflory commented on #62
We successfully held Open Source 101 and a short session on git this past Friday. Closing as complete. :tada:  :clapper:

[2018-09-24 00:28] #62 closed

[2018-09-24 00:33] jwflory commented on #15
@Tjzabel Given the conference is in August, I think it will be harder to write the post in October. Since this issue has been open for eleven months, I am going to close it and we can re-open or file a new ticket to discuss new writing opportunities later on. Since this is your ticket, feel free to reopen it if you really do want to work on it.

[2018-09-24 00:33] #15 closed

[2018-09-24 14:29] Tjzabel commented on #51
Okay, really this time. I _should_ be able to get this done before _this_ week's meeting :smile:

[2018-09-24 15:49] Tjzabel opened #65 "Update IP Allocation Page in RITlug GitLab"
The IP allocation project within the RITlug GitLab is currently out of date. It would be good to update this page so we know what resources we can make use of.

[2018-09-24 16:41] Tjzabel commented on #56
hey @nlMeminger, has there been any updates to this issue?

[2018-09-24 19:29] Tjzabel opened #66 "Review September 28th Meeting"
* [RITlug Fall Semester Schedule](https://github.com/RITlug/tasks/issues/44)

For this week's presentation, Schneidy will be guest-presenting on open hardware and the raspberry pi

[2018-09-24 20:39] icflournoy opened #67 "Discuss budget allocation with Clubs"
### Problem Summary
The club was given a budget amount lower than what we anticipated, given the guidance from clubs at the end of last year. The information was that budget allocations were done based on brackets, with a minimum that a recognized club would receive.  RITlug received half of this minimum and we want to confirm why, and if its related to the late check from fundraising last year (h

[2018-09-24 21:18] icflournoy commented on #66
### 2018-09-24 Eboard Meeting

#### Action Items
- (today) @Tjzabel will confirm with Schneidy the talk he is scheduled to give for this Friday's meeting (Sept 28th)

[2018-09-24 21:18] icflournoy commented on #39
### 2018-09-24 Eboard Meeting

#### Action Items
- @jrtechs will work on formalizing the structure of casual coding sessions for the Oct 5th general meeting.

[2018-09-24 21:18] icflournoy commented on #44
### 2018-09-24 Eboard Meeting

#### Discussion
- Should we need to promote Hacktoberfest ahead of time? If yes, how?
- Hardware fair, people bring in hardware projects, potential tie-in to source code that can be contributed to for Hacktoberfest

#### Action Items
- @jrtechs planning casual coding session (https://github.com/RITlug/tasks/issues/39) for Oct 5th general meeting.

[2018-09-24 21:18] icflournoy commented on #8
### 2018-09-24 Eboard Meeting

#### Discussion
- Sunset announcements on website, link to archive, indicate that announcements take place on CampusGroups mailing list

#### Action Items
- Monday Oct 1st eboard meeting @Tjzabel drafts Announcements page
- Monday Oct 15th eboard meeting: @ct-martin drafts The Website page changes
- @jwflory will work on cleaning up / restructuring Meetings page when

[2018-09-24 21:18] icflournoy commented on #67
### 2018-09-24 Eboard Meeting

#### Discussion
*What would we spend more money on?* Showing that we would use the extra funds to grow the club.
Eg:
- table cloth
- stickers
- domain years namecheap

#### Action Items
- Determine what we would spend the extra budget allocation on?
- Schedule meeting with club office / Frank to discuss the exact reason the club was granted a lower amount than what w

[2018-09-24 21:18] icflournoy commented on #10
### 2018-09-24 Eboard Meeting
#### Discussion
New check has been issued, should be received by RIT in 4-6 weeks.

#### Action Items
- Nothing until we receive the check
- @jibby0 to take on https://github.com/RITlug/tasks/issues/67 to follow up with clubs regarding budget allocation for the year, why it wasn't what we expected, and if this fundraising dinner check from last year affected this year

[2018-09-24 22:48] Tjzabel commented on #66
Update:
Email has been sent to Schneidy for presentation confirmation

[2018-09-25 01:01] Tjzabel commented on #66
Schneidy has confirmed he will be presenting this Friday.

[2018-09-25 01:01] #66 closed

[2018-09-25 01:04] Tjzabel opened #68 "Compose September 28th General Meeting Email"
After #66 went through, we know Schneidy will be doing a guest presentation this Friday, September 28th on open hardware and raspberry pi's.

Now, we are no longer blocked to send out an email for this week's guest presentation.

[2018-09-25 02:04] ct-martin commented on #67
Adding server backups to costs

Also, when we talk to Frank we need to get a clear answer on what might
affect us next year.

--
Christian Martin (Phone)

On Mon, Sep 24, 2018, 5:18 PM Ian Flournoy <notifications@github.com> wrote:

[2018-09-25 02:28] Tjzabel commented on #39
@jwflory I am actually very +1 to this idea. *Casual Coding Sessions* is a very limiting phrase in what is overall just a general hacking session. This *most definitely* is not just coding, so changing this name to *Project Collaboration Night* makes much more sense, and opens up this opportunity to many more!

[2018-09-25 20:53] Bad-Science commented on #39
Hello RIT friends!! Love the activity here. I think it's great you are doing casual coding sessions. They have been very successful for us at RCOS. At first the attendance was low but after a semester they are one of our more successful events. I also like the more inclusive name! We had a similar concern about "Casual Coding Sessions" but never came up with anything better 😛 .

@aeksco has been r

[2018-09-26 21:54] aeksco commented on #39
We've had a lot of success running weekend sessions on Saturdays and Sundays from 12-4pm - we also have a weekly block set aside on Wednesday evenings from 4-6pm but those typically have been less popular than the weekend sessions

[2018-09-27 01:04] Tjzabel commented on #39
@aeksco @Bad-Science thanks for the input! We will definitely keep this in mind as we continue ironing out how these "Project Collaboration NIght(s)" are going to work :+1:

[2018-09-27 02:52] mirdaki commented on #39
Hey all, we at UF have talked a little about a better name, but have the same issue as @Bad-Science (it's just a nice short alliteration). "Project Collaboration Night" sounds good, but only works if you do the event at night haha. I'll ask people again if they have any new ideas ("Casual Collab" maybe?).

@aeksco we have the opposite problem, where are weekday sessions are very popular and weeken

[2018-09-27 16:16] aeksco commented on #39
@mirdaki We actually don't do much to promote other than having the sessions count as bonus attendance for students pursuing RCOS for credit. "Bonus" attendance basically enables students to make up absences for required RCOS meetings during the semester - so that's a bit of an incentive, but most students aren't struggling with regular meeting attendance. The sessions are framed as an opportunity

[2018-09-28 03:10] #68 closed

[2018-09-28 03:10] Tjzabel commented on #68
Done :+1:

[2018-09-28 03:11] Tjzabel commented on #51
Finally done!

[2018-09-28 03:11] #51 closed

[2018-09-28 03:15] jwflory commented on #8
RITlug/runbook#66 documents how to send an announcement. Unassigning @Tjzabel.

[2018-09-28 03:15] Tjzabel commented on #43
@ct-martin I'm just going to keep pinging you every once in a while about this issue :smile:

[2018-09-28 03:16] Tjzabel commented on #43
Is this something we still want to pursue?

[2018-09-28 03:27] Tjzabel commented on #41
@jwflory alrighty, I will follow up with them :+1:

[2018-09-28 03:45] thenaterhood commented on #41
I'm about 90% sure I'm an admin.

On Thu, Sep 27, 2018, 23:27 Tim Zabel <notifications@github.com> wrote:

[2018-09-28 13:21] ct-martin commented on #43
@Tjzabel instead of pinging me, please check if the login works. Yes, we
want to do it, but this is backburner.

--
Christian Martin (Phone)

On Thu, Sep 27, 2018, 11:16 PM Tim Zabel <notifications@github.com> wrote:

[2018-09-28 13:45] Tjzabel commented on #43
@ct-martin I pinged you because I wasn't sure how to continue with this issue.

Anywho, I tried to log in. Still fails

[2018-09-28 13:49] ct-martin commented on #43
@Tjzabel then the issue is still blocked on SG fixing the page and we can
leave it with "pending on third party" (or whatever the column is called).

--
Christian Martin (Phone)

On Fri, Sep 28, 2018, 9:45 AM Tim Zabel <notifications@github.com> wrote:

[2018-09-28 15:48] Tjzabel commented on #41
@thenaterhood When you get the time, could you please confirm whether or not you're an admin on the page?

[2018-09-28 21:06] icflournoy opened #69 "Compile list of interview resources into email"
9/28/18's meeting showcased some useful resources to help prepare for a coding interview, general interview advice, suggested questions, etc.  It would be handy to send these resources out in an email to our members.

- https://github.com/yangshun/tech-interview-handbook
- https://exercism.io/
- https://interviewing.io/
- https://triplebyte.com/
- https://www.glassdoor.com/index.htm

[2018-09-29 16:06] Tjzabel commented on #56
@nlMeminger has updated the Magic Mirror, and there now exists a [RITlug repo](https://github.com/RITlug/MagicMirror) for the magic mirror configuration.

[2018-09-29 16:08] Tjzabel commented on #41
So *apparently* I've had admin access on the RITlug Facebook page for a while. Let me know what you think of this message to write to the page:
[code]

[2018-09-29 19:56] jwflory commented on #41
@Tjzabel +1 to post.

I might only post a link to the website's "[Get Involved](https://ritlug.com/get-involved/)" page since that has all of our important info there (too many links can discourage people from clicking any). But this is a nitpick and honestly the number of people in the group (who are not connected to us elsewhere) is so small, we don't have to get into the weeds on this.

![Just

[2018-09-29 20:31] aeksco commented on #39
@mirdaki There's not much structure at all - basically a mentor or coordinator finds a decent room with good wifi and people just come and go as they please. Sometimes people ask for help or advice, sometimes people just do homework and hang out. Very "casual" by design

[2018-09-29 22:17] mirdaki commented on #39
Awesome, thank you for the info @aeksco!

[2018-10-01 13:08] jwflory opened #70 "TigerOS development update from project team to eboard"
TigerOS development is having a slow time picking back up this semester. This ticket is a chance for eboard to check in with TigerOS team members at our eboard meeting and see what we can do to help and get things back on track.

[2018-10-01 13:13] jwflory commented on #54
Per previous discussion, this is going to be handled in Runbook documentation (see RITlug/runbook#67). I am assigned to update this page. It's unlikely I will have it today before our eboard meeting, but I will give it another go this week when I have time.

Closing this ticket – related discussion should go to RITlug/runbook#67. :clapper:

[2018-10-01 13:13] #54 closed

[2018-10-01 13:17] jwflory commented on #60
Marking for meeting review. The application closes in two weeks. We should make final confirmations for projects and volunteers and fill out the form.

[2018-10-01 13:18] jwflory commented on #64
Do we want to make this part of our project collaboration night meeting this Friday?

[2018-10-01 17:05] ct-martin opened #71 "Determine who should have access to Titan"

[2018-10-01 17:06] ct-martin opened #72 "Get a gigabit router/switch for CBET servers"
Currently the CBET servers are capable of gigabit but are on a 100Mbps switch. It would be nice to be able to use them at full capacity. At least 5 (6 if router w/ WAN port) ports, but 12+ would be nice.

[2018-10-01 17:31] jwflory commented on #72
@ct-martin I don't know much about good hardware for this. Could you suggest two or three options and how much they cost so we can plan accordingly with our budget (especially as we are getting ready to follow up on our budget allocation from Clubs Office soon in #67).

[2018-10-01 17:39] Tjzabel commented on #72
With all this being said, I'm assuming there's no way to have these servers connect to the RIT network via already available equipment without needing to buy new equipment?

[2018-10-01 17:46] Tjzabel opened #73 "Document CBET servers"
Currently, we know nothing about what these servers are, and what resources they have.

Depending on if there's any sensitive information, there should be a page in either the [runbook](http://runbook.ritlug.com/) or the private infrastructure eboard repo in the [RITlug GitLab](https://git.ritlug.com).

After this documentation exists, it would be much easier to see what can be done with them.

[2018-10-01 17:51] ct-martin commented on #72
@jwflory
https://www.amazon.com/NETGEAR-16-Port-Gigabit-Ethernet-Unmanaged/dp/B01AX8XHRQ/
https://www.amazon.com/TRENDnet-Unmanaged-Forwarding-Protection-TEG-S16DG/dp/B0044GJ516/

@Tjzabel there is one drop-down cable and we have a 100Mbps switch, but there are 5 gigabit-capable servers with 2 NICs each, so there's a definite limiting factor

[2018-10-01 18:18] jwflory commented on #72
@ct-martin Thanks for the links. Assuming we spend a minimum of $50 USD, this exhausts 20% of our (current) budget for this academic year.

What are we currently using the machines for that requires an upgraded data link?

I suggest we block this ticket by #67. If we receive a notable increase in budget from Club Office based on the case we present, I am more ready to experiment and try something

[2018-10-01 19:26] ct-martin opened #74 "Verify settings for ritlug [@] rit.edu email"
I updated the settings for the email to what I understood as we thought they were supposed to be, we need to verify that this is okay at the meeting today.

![image](https://user-images.githubusercontent.com/25327135/46310706-1ac5d200-c58e-11e8-9bfd-1b0772e2cf8d.png)

[2018-10-01 19:28] ct-martin commented on #74
Side note, it didn't like the mail.rit.edu address so I removed it; we still have the rit.edu one

[2018-10-01 19:41] jwflory commented on #74
+1

Maybe make directory access not world readable to reduce spam?

[2018-10-01 19:46] ct-martin commented on #74
@jwflory Done.

Also, it seems to be silently deleting the external recovery email, so :man_shrugging: I guess.

[2018-10-01 19:49] ct-martin commented on #73
Duplicate of RITlug/runbook#47

[2018-10-01 19:49] #73 closed

[2018-10-01 19:50] Tjzabel commented on #74
@ct-martin Looks good! I almost tried to merge this, but it's just an issue :smile:
Maybe I need to give my brain a little rest.

[2018-10-01 19:53] ct-martin opened #75 "Regain control of RITlug IFTTT account"
Currently no one on eboard knows the credentials or email (for password reset) being used for IFTTT, which has hooks for production RITlug things, such as the mailing list.

[2018-10-01 20:14] ct-martin commented on #74
Filed issue under runbook, closing.

[2018-10-01 20:14] #74 closed

[2018-10-01 20:17] ct-martin commented on #70
TigerOS has a meeting time now. The biggest issue is getting CI set up, which is a WIP but dealing with issues of limited GitLab CE features and trying to restrict root access to servers.

[2018-10-01 20:19] jrtechs commented on #44
# Eboard meeting Notes 10-1-18

## Discussion
This Friday we will be having the "project collaboration night" ran by @jrtechs.

## Action Items
@jrtechs Will send out the email for the meeting.
@jibby0 will make the slides/October for the October fest presentation
Confirm graphics talk next Eboard meeting.

[2018-10-01 20:37] ct-martin opened #76 "CBET Trip #3"
Schedule another trip to the CBET datacenter to try to finish setting up the servers.

[2018-10-01 20:40] jrtechs commented on #71
# Eboard Meeting 10-1-18

## Discussion

We want to more clarity about what is happening with Titan.

## Action Items
1: @Tjzabel Clarify policy about access to Titan and use.
2: @Tjzabel working with Solomon and @ct-martin to proper access to Eboard (Project Cordinator, VP, Vice-President).
3: @Tjzabel make addition to run-book about how to add another person (figure it out first).

@Tjzabel Upda

[2018-10-01 20:48] jrtechs commented on #70
# Eboard Meeting 10-1-18

Work on sorting out CI. We can build manually, but, it slows things down.

Updating the website to be dynamic and host the docs.

Wait for Tiger-OS team to have regular meetings and then follow up.

# Action Items
In thee weeks have a Tiger-OS presentation meeting during the Eboard meeting (10-24-18).

[2018-10-01 20:50] jrtechs commented on #74
# Eboard meeting 10-1-18

We all are on agree upon these settings.

[2018-10-01 21:02] jrtechs commented on #67
# Eboard Meeting 10-1-18

We want to figure out the rules which the club office follows for the budget since they seem to be changing. Does this block us from using the current budget?

## Action Items
@jibby0 Is working on getting a meeting with club office.

Make a plan of what we are going to do with money.
@jibby0 is going to make a list of what we want to buy and estimated cost. Also note wha

[2018-10-01 21:03] jrtechs commented on #60
# Eboard Meeting 10-1-18

## Discussion
We want to finalize our plan for the Rochester Maker Fair.

## Action Items
Make a call for volunteers following Friday (10-12-18).
- Siera?
- Donte
-@jrtechs
-@jwflory
-@icflournoy
-@ct-martin

Follow up with people doing projects. By this Friday (10-5-18).
@nlmeminger Mirrors
@jrtechs Musical Floppy Drives
@ct-martin Tiger OS
Dante Acoustic Levitation

Aft

[2018-10-01 21:15] icflournoy commented on #72
I'm going to take a look at hardware that I have laying around. I know I have a 24+ port gigabit switch, and it's very possible I have something that can act as a gigabit edge router.

I'll compile a list of a few things I'd be willing to donate for the club's benefit.

[2018-10-01 22:31] jibby0 commented on #60
Sierra said she'd be happy to help volunteer. :+1:

[2018-10-02 23:14] ct-martin opened #77 "Add GitHub root password to private repo"
@jwflory

[2018-10-03 15:56] repkam09 commented on #41
Huh looks like I am an admin as well! I agree, post about the more up to date locations, and archive the group.

[2018-10-03 17:06] Tjzabel commented on #41
I should have time to do this tonight or tomorrow. Once I get through today I'll have a lot more time :+1:

[2018-10-03 22:34] ct-martin commented on #70
@jwflory #77 will help us get CI going if you can find the time

From meeting today, we have split up the priorities for our next release (the beta release) and have a rough target of f29. More details to come in the next few weeks.

Notes here: https://github.com/RITlug/TigerOS/wiki/Next-Meeting-Agenda/795c660e845ffa04d4d673b6b5b7e59af7800e11#meeting-103---special-agenda-ignore-everything-from-an

[2018-10-04 14:38] ct-martin commented on #60
FYI: @Schneidy has reminded us to get the paperwork filed soon. I sent him this issue but giving a heads up.

[2018-10-05 17:15] Tjzabel commented on #77
I *believe* this is needed to keep uniformity when we create a RITlug GitLab user?

[2018-10-05 18:02] ct-martin commented on #77
@Tjzabel it's primarily so that as project members come and go the OAuth tokens won't expire

Also because it's important to have there.

[2018-10-07 02:40] jwflory commented on #41
@Tjzabel Did you get a chance to do this one yet?

[2018-10-07 15:11] jrtechs commented on #39
Last Friday (10-5) our casual coding session or "project collaboration night" went pretty well. Attendance was low due to it being the Friday before a long weekend. Although most of us didn't get much work done, I learned a ton about the interests and projects of our club members.

I think that it would be a good idea to promote FOSS hours more in RITlug as being a time to casually work on project

[2018-10-07 17:18] Tjzabel commented on #39
@jrtechs With the project collaboration night that happened, I'm wondering how long we should keep this issue up for. We can either leave this up as a reminder to keep this in mind, or close this issue and open another with the goal of trying to include other events that you've mentioned above.

[2018-10-07 17:27] Tjzabel commented on #71
I've confirmed I still have access to Titan.

As far as granting others access to titan, I beieve this is blocked on @Serubin talking with me as to how this should be done. As far as I know, he is the only one able to grant access to the proxmox instance.

I have the ability to add other users to specific VMs, but cannot (afaik) add users to the physical Titan box.
I believe Solomon is on vacation

[2018-10-07 17:29] Tjzabel commented on #71
Also, if not already there, this should also be documented in the eboard on-boarding/off-boarding process once this documentation gets finished.

[2018-10-07 17:33] jrtechs commented on #39
@Tjzabel I say that we keep this issue open until the next eboard meeting where we can discuss what we want to do with casual coding for this semester.

[2018-10-07 21:05] jwflory commented on #75
This is completed by [eboard/credentials#4](https://git.ritlug.com/eboard/credentials/merge_requests/4) in our GitLab. Turns out it was programmed to our RITlug Gmail after all.

Closing as complete. :clapper:

[2018-10-07 21:05] #75 closed

[2018-10-07 21:14] jwflory commented on #77
Added in [eboard/credentials#5](https://git.ritlug.com/eboard/credentials/merge_requests/5). Closing as complete. :clapper:

[2018-10-07 21:14] #77 closed

[2018-10-07 21:17] Tjzabel commented on #41
## Update
A final announcement has been posted on the [RITlug Facebook Group](https://www.facebook.com/groups/RITLUG/), and has been archived.

At this point, the page will stay visible to others who wish to view the page, but there will be no more postings, likes, or additional members allowed.

With this being said, this issue is now closed :+1:

[2018-10-07 21:17] #41 closed

[2018-10-07 21:19] jwflory commented on #70
Done. :+1:

[2018-10-07 21:30] jwflory commented on #71
What should our policy be on this? I know part of it depends on @Serubin, but do we want the policy to be any eboard member is permitted access? Or do we want to limit access to president, vice president, and project coordinator? As a secretary, treasurer, and a general eboard officer, I'm not sure access is essential.

[2018-10-07 21:32] jwflory commented on #39
I am totally +1 to this. :+1: I renamed the issue to better reflect what we want to do to close this issue. In our next eboard meeting, I suggest we review date, time, and location, and if on campus, let's try to get it into CampusGroups.

[2018-10-07 21:33] Tjzabel commented on #71
@jwflory I spoke briefly to Solomon. He's not going on vacation until November, so we have some time :smile:
In terms of access, I think it would be best if the President, VP, and project lead are given access.

AFAIK, there is no reason for any further eboard members to be given access to Titan. Each individual VM titan manages, on the other hand, is free grabs, as VMs don't affect other VMs, so

[2018-10-07 21:34] jwflory commented on #71
This gets a +1 vote from me. :+1:

[2018-10-07 21:35] Tjzabel commented on #71
Currently, as @Serubin is the owner of the Titan server, he is the only one able to grant others access.
In order for access to be given, a username, password, and PIN are needed from the user.

[2018-10-07 21:41] Tjzabel opened #78 "Document RITlug Twitter Credentials in Private Eboard GitLab"
## What
We have a [RITlug Twitter](https://twitter.com/RITlug) account! However, only a single member or two has access to this account.

## Resolution
We need to document the credentials so other eboard members are able to take over the account if needed.

[2018-10-07 22:02] jwflory commented on #69
I just sent this email now. I also forwarded it to some other RIT lists. Closing as complete. :clapper:

[2018-10-07 22:02] #69 closed

[2018-10-10 15:45] ct-martin commented on #60
@jrtechs: @Schneidy has sent another reminder to submit the application. Are we reviewing the application at the meeting today or is there more action needed?

[2018-10-10 19:29] jrtechs commented on #60
@ct-martin I have the application filled out, all that there is left to do is review the application today.

[2018-10-10 19:38] jwflory commented on #59
OMG. I didn't know they participated. I would so do that. But Indian food can be a tough option for some. :frowning_face:

These two seem most viable. I am thinking IHop is better for vegetarians / diet-specific needs, plus they give us an extra 5% anyways.

[2018-10-10 19:49] ct-martin commented on #70
We discussed this today at the TigerOS meeting and decided to respond early since this month is busy and we have the tasks outlined. TigerOS development is moving again and we are targeting a release of the end of October. As it stands right now we have the resources that eboard can give us to continue and the biggest issue is personal bandwidth due to classwork, working part- or full-time, and jo

[2018-10-10 19:52] jrtechs commented on #60
## For reference:
2017 RITlug [blurb on maker-fair website](http://rochester.makerfaire.com/maker/entry/107/)

## This year
For our public blurb I put this:
[code]
Last year we didn't have any description for projects, however, this year we can't elaborate any more since we are capped at 250 characters.

[2018-10-10 21:06] ct-martin opened #79 "Schedule additional eboard meetings"
From discussions in eboard we have realized there are some big-item things that we don't have time to have a proper discussion on in a regular eboard meeting, and would thus require a dedicated meeting. The topics are as follows:

* Infra
  * Status update
    * Website (summer)
    * Email (CampusGroups, Google Groups, FOSSRIT)
    * CBET
    * Nextcloud
  * Current plan for infra (mainly CBET),

[2018-10-11 00:41] jwflory commented on #70
I'd still like to do the eboard presentation. I haven't been involved for about a year so I am really curious to see where things are these days. :smile: Since I talk about TigerOS to a good number of folks outside of RIT, it would be helpful for me to also get my facts straight too.

[2018-10-11 00:44] jwflory commented on #60
+1, looks good! :+1: Did you get a chance to submit it yet?

We should make a new document in the RITlug Google Drive folder so we can recycle this text later as needed. We'll have Imagine with its application forms next semester, and our projects may only change slightly.

[2018-10-11 00:51] jwflory commented on #79
A special-topic meeting would be helpful for us to dedicate a set amount of time to work on something with all eboard members present. I suggest the next step to start with projects, since our projects inform all other topics (planning based on set of expectations from projects, leaves room for projects becoming more significant part of our general meetings in the future).

I'd prefer to do this o

[2018-10-11 12:45] ct-martin commented on #70
In that case I would propose moving back the presentation until mid/late November to let us get this release finished and map out where we're going to focus for the rest of the semester. October is also a busy month for team members and we don't have bandwidth to make a presentation, much less a proper one, right now.

[2018-10-11 13:15] icflournoy commented on #70
### 2018-10-10 Eboard Meeting

####  Discussion
Reviewed at meeting. We will tentatively anticipate a more formal TigerOS presentation in November eboard meeting, after the release at the end of October.

[2018-10-11 13:16] icflournoy commented on #59
### 2018-10-10 Eboard Meeting
#### Discussion
- We generally agreed that IHop is the best choice

#### Action Items
- @jibby0 will start the process to book IHop for a November 27th dinner
- Will follow up at next eboard meeting 2018-10-17

[2018-10-11 13:16] icflournoy commented on #60
### 2018-10-10 Eboard Meeting

#### Discussion
- We updated the blurb in the previous comment to be consistent with the club's intro text from the website.

#### Action Items
- @icflournoy will ping Dante in slack to confirm he's demoing the acoustic levitation project on Friday
- @jrtechs will submit the application on Friday (regardless of demo)
- At the general meeting on Friday there should be

[2018-10-11 13:16] icflournoy commented on #44
### 2018-10-10 Eboard Meeting

#### Discussion
- @ct-martin will not be doing his talk on the 19th
  So what do we do on the 19th?
  @icflournoy can present on Docker if we have a set of slides to use

#### Action Items
- @jrtechs follow up with Taylor (Oct 26th talk), Paul Mezzanini (Nov 2nd talk), and cproffitt (Nov 9th talk) to confirm availability for those dates.
- As soon as we hear back fro

[2018-10-11 13:16] icflournoy commented on #64
### 2018-10-10 Eboard Meeting

#### Discussion
We are lacking the bandwidth to arrange something this weekend (13th/14th), and the following weekend is Brick City, so we are looking at October 27th/28th for a Hacktoberfest Meetup. This would lead nicely into #39 for project collaboration nights as a recurring thing throughout November/December.

We can book Javas, Artesanos, Midight Oil, Crossroad

[2018-10-11 13:16] icflournoy commented on #39
### 2018-10-10 Eboard Meeting

#### Discussion
This sounds like something we want to start doing in November. #64 details the Hacktoberfest meetup which may act as a kickoff for the general project collaboration time.

#### Action Items
- Will discuss at next eboard meeting (2018-10-17) after the Hacktoberfest meetup has been scheduled

[2018-10-11 13:17] icflournoy commented on #67
### 2018-10-10 Eboard Meeting

#### Discussion
- Cost of banner can be justified as we do off-campus events which show good publicity for RIT
- As a whole club we attend:
  - Maker Faire - Off campus, publicly visible
  - Imagine RIT
  - Club Gala

Other costs each year:
- Stickers ($250-$300) - handed out at events, meetups, conferences
  Flock (international), OSSN, Imagine, general meetings, Ma

[2018-10-11 13:17] icflournoy commented on #63
### 2018-10-10 Eboard Meeting
@ct-martin has filed https://github.com/RITlug/tasks/issues/79 for focused discussions on the topics:
- infrastructure
- projects
- long term planning

The outcome of these meetings should feed back into the vision for the long-term club planning.

[2018-10-11 18:33] jibby0 commented on #67
### 2018-10-11 Club Office Meeting

@jibby0 and @icflournoy met with Club Office. In short:

- More clubs asked for a budget this year than in years past. However, the pool of money for club budgets did not increase.
  - Club office said there's no RIT policy on what to do when the requests are larger than what's available, since it changes depending on how large a difference there is. Some factor

[2018-10-11 20:13] Tjzabel commented on #25
At this point, I almost want to say we should close this issue. I'm not sure if this is something we want to do/will have bandwidth to do for quite a long time.

With that being said, is this something we still have an interest in pursuing?

[2018-10-11 20:15] Tjzabel commented on #79
I am free this weekend as well if we wanted to do a call.

[2018-10-11 21:19] ct-martin commented on #25
I think this should be considered in the long-term planning meeting as a
way to get our name out. It likely will be slated for next semester at that
time, or maybe dropped entirely, but it would be nice if we could.

--
Christian Martin (Phone)

On Thu, Oct 11, 2018, 4:13 PM Tim Zabel <notifications@github.com> wrote:

[2018-10-11 21:20] ct-martin commented on #79
I have enough space for the members here if we want to do at my place this
weekend.

--
Christian Martin (Phone)

On Thu, Oct 11, 2018, 4:15 PM Tim Zabel <notifications@github.com> wrote:

[2018-10-13 00:37] ct-martin commented on #79
Updating issue: we're meeting on-campus tomorrow for talking about infra & projects

[2018-10-13 21:02] jwflory opened #80 "Create quick-start repo with docs template for new RITlug projects (Nov. 7)"
In our projects meeting on 2018-10-13 (#79), we agreed to create a "quick-start" repo for future RITlug projects to take and "recycle" basic things like docs and a website for new projects.

I'm going to create a new GitHub repository for quick start resources and add a template for docs (based on Runbook / other places).

**Due**: Nov. 7 2018

[2018-10-13 21:05] ct-martin commented on #63
At the dedicated meeting for this we should look at the retrospective again (will post link when get a chance)

[2018-10-14 15:49] jwflory commented on #70
I think we should keep this issue open until we have the presentation. I renamed the title of this issue and updated the metadata.

[2018-10-14 15:54] jwflory commented on #10
@jibby0 I was wondering, is there any way we are notified the check lands? Or how can we verify RIT receives the check? Do we actually have to go in to the clubs office and ask?

[2018-10-14 15:58] jwflory commented on #60
@jrtechs Did you get this submitted? The deadline is tomorrow, so I wanted to make sure we don't miss it.

[2018-10-14 16:00] jwflory commented on #44
I'd be willing to pair up on this with you. We should try to decide this before the next eboard meeting so we can get an email out ASAP.

[2018-10-14 16:03] jwflory commented on #64
To clarify, this ticket is for something more than our last meeting topic? Would it be better to pilot this under project collaboration nights (#39)?

[2018-10-14 16:06] schneidy commented on #60
@jwflory It was submitted. I saw it come in on my end.

[2018-10-14 16:32] ct-martin commented on #10
In theory I would think it should appear on CampusGroups, but...

--
Christian Martin (Phone)

On Sun, Oct 14, 2018, 11:54 AM Justin W. Flory <notifications@github.com>
wrote:

[2018-10-14 19:35] icflournoy commented on #79
# Notes from 2018-10-13 special meeting

## Infrastructure

**action**: @ct-martin will put together an Infrastructure roadmap.

### Website
Website was updated over the summer:
- Re-skinned, some small functional changes as well
- New projects section to showcase past and present RITlug projects
  **action**: @icflournoy to work on https://github.com/RITlug/ritlug.github.io/issues/153 to gather o

[2018-10-14 19:48] icflournoy commented on #72
@ct-martin The switch is a `Nortel BayStack 5510-48T` which is a 48 port gig switch. I have two (not sure where the other one is).  I will donate it to the club if you think it can be used.

Its got a serial interface for initial configuration. I should have the cable somewhere around here to interface with it.

**Front of switch**
![img_20181014_153932 1](https://user-images.githubusercontent.com

[2018-10-14 19:52] icflournoy commented on #72
I've also got
- Cisco ASA 5510 (rackmount security device)
- Cisco ASA 5505 (smaller form factor, built in 100MB switch with 8 ports or so)

The 5510 supports gig on both sides and could be useful as an edge device.

[2018-10-14 19:53] ct-martin commented on #79
@icflournoy: made some minor corrections (mostly spelling), thanks for posting

[2018-10-14 23:29] ct-martin opened #81 "Figure out who gets emailed when a webhook/token/etc. gets added to a repo and change appropriately"
So we only have eboard getting these emails

[2018-10-14 23:29] ct-martin opened #82 "Verify domain at GitHub org level"
https://help.github.com/articles/verifying-your-organization-s-domain/

[2018-10-15 04:05] jwflory commented on #82
@ct-martin Nice, I didn't hear about this. I added the TXT records to both ritlug.com and ritlug.club. The domain verification is pending in our GitHub organization now. It may take 72 hours to propagate.

[2018-10-16 17:38] jibby0 commented on #10
Yes, it should show up in CampusGroups. If it doesn't by early November (which gives them the est. 4-6 weeks) I'll follow up with Outback.

[2018-10-17 13:42] ct-martin commented on #82
It appears it didn't go through in the end, I will poke when I have time for ritlug.com

[2018-10-17 13:44] ct-martin commented on #82
(it's under 72 hours, but the page has steps and it looks like it got checked too early)

[2018-10-17 15:37] ct-martin commented on #82
Fixed a typo in the record, now waiting on Namecheap Standard Propagation Timeline of eventually maybe. Also figured out how the verification actually works for my reference.

[2018-10-17 18:48] jrtechs commented on #60
@jwflory yep, I submitted it on Friday. I believe I forwarded Eboard the confirmation email on Sunday.

[2018-10-17 20:21] jwflory opened #83 "Order new batch of RITlug stickers"
Per discussion in #67, we want to order a new batch of stickers with our club budget. This will lead up to us asking SG for financial help for a tablecloth (#35).

Next step, @jibby0 will start the EAF process to order the stickers.

[2018-10-17 20:33] jwflory commented on #39
Discussed as part of #64.

[2018-10-17 20:38] #8 closed

[2018-10-18 20:35] icflournoy commented on #82
### 2018-10-17 Eboard Meeting
- Continuing to wait for propagation, will revisit at 10/24 eboard meeting

[2018-10-18 20:35] icflournoy commented on #8
### 2018-10-17 Eboard Meeting
- Runbook now at MVP! It is relevant again.
- Website work tracked in https://github.com/RITlug/runbook/issues/52

[2018-10-18 20:35] icflournoy commented on #59
### 2018-10-17 Eboard Meeting
- IHOP is available on Nov 27th
- Estimating about 20 attendees
- **action** @jibby0 will start the GroupRaise campaign, and will send an email once its been setup
- Follow up at 10/24 eboard meeting

[2018-10-18 20:35] icflournoy commented on #71
### 2018-10-17 Eboard Meeting
- Blocked on Solomon/Tim for the time being.
- Follow up at 10/24 eboard meeting

[2018-10-18 20:35] icflournoy commented on #44
### 2018-10-17 Eboard Meeting
**This week's meeting (10/19)**
- **action** @icflournoy will prepare and send the weekly meeting announcement email
- **action** @icflournoy will review the existing Docker slides, pass to @jwflory sometime Thursday (today)

---

- Taylor confirmed availability for Oct 26th presentation, undecided on topic
- Ccprofitt confirmed availability for Nov 9th presentation,

[2018-10-18 20:35] icflournoy commented on #64
### 2018-10-17 Eboard Meeting
- Decided on a time 1-3PM @ Java's on Oct 27th
- Only @ct-martin and @jrtechs are available
- EMS event has been approved
- **action** @icflournoy will include a note in this weeks' general meeting email
- **action** @jrtechs will send a separate email next week

[2018-10-18 20:36] icflournoy commented on #39
### 2018-10-17 Eboard Meeting
- **action** @jrtechs to plan a longer term schedule and send an email announcement for November/December collaboration meet-ups
- First run of this type of meet-up is the Oct 27th Hacktoberfest event https://github.com/RITlug/tasks/issues/64

[2018-10-18 20:36] icflournoy commented on #67
### 2018-10-17 Eboard Meeting
- This issue has reached its conclusion.
- Stickers purchase tracked in https://github.com/RITlug/tasks/issues/83
- Tablecloth work tracked in https://github.com/RITlug/tasks/issues/35 - the idea here is that we can request money from SG to cover a specific item for a specific event.
- **action** @ct-martin will look into making a short-term tablecloth for the Maker F

[2018-10-18 20:36] #67 closed

[2018-10-18 20:36] icflournoy commented on #60
### 2018-10-17 Eboard Meeting

- Lakka will be demoed at either this upcoming general meeting or the meeting on Nov 2nd.
- Kenneth Taylor - interested in joining RITlug at the Maker Faire. This fills our 7 spots.
- Leaving this open so we can follow up on ongoing projects.
- Magic Mirror

[2018-10-19 22:13] ct-martin commented on #79
Updates:
* Email is working how it is supposed to and not how I was concerned it might
* Website has PRs for PDF embeds, an Events section, & deprecating announcements.

[2018-10-22 02:28] ct-martin commented on #82
Restarted process. Turns out that Namecheap's panel made it unclear in adding the subdomain so my fix to Flory's entry was just as wrong. Currently waiting for it to propagate correctly if it ever does.

[2018-10-22 02:29] ct-martin commented on #82
FYI, the command to check if it's there is `dig @dns1.registrar-servers.com _github-challenge-ritlug.ritlug.com +nostats +nocomments +nocmd -t txt` and you should see a 10-digit code in a record

[2018-10-22 03:05] ct-martin commented on #82
ritlug.com is verified, need to verify gmail.com or change the email to a ritlug.com one in order to complete this. Also, ritlug.club is not verified due to me not having access under my personal account and it being too late at night for me to feel like checking if it's under the club account.

[2018-10-22 03:07] ct-martin commented on #82
Also, the GitHub backend is being a bit flacky, the domain might show as not verified but I confirmed it is (if you try to re-do the process it tells you you already did it).

[2018-10-22 13:08] jwflory commented on #79
What do you mean? Is forwarding working for some lists?

:tada: :100: :tada:

[2018-10-22 13:17] Tjzabel commented on #83
I can help with the process of choosing the actual stickers since I went through this process last Spring. I would like to change the size of the stickers we ordered as well.

[2018-10-22 15:36] ct-martin commented on #82
Updated the email, we are now verified
![image](https://user-images.githubusercontent.com/25327135/47302100-a3b0b600-d5ee-11e8-8ab9-07590363a900.png)

[2018-10-22 15:36] #82 closed

[2018-10-22 15:39] ct-martin commented on #82
Oh, got ritlug.club verified too

[2018-10-22 19:50] Tjzabel commented on #83
Reposting here for clarity:

[code]

[2018-10-22 19:52] Tjzabel commented on #78
@jwflory ping pong. I know you can get to this :smile:

[2018-10-22 19:54] Tjzabel commented on #71
### Decision
We have decided the RITlug President, Vice President, and Project Coordinator should all have access to the Titan proxmox.

### Next Steps
Documentation! We(I) need to document this information, and the process to gain access.

[2018-10-22 20:14] ct-martin commented on #83
@Tjzabel edited your comment to make it clear that's what we ordered in Spring

[2018-10-24 15:54] jibby0 commented on #59
Email has been sent, and a post has been made in #announcements.

Assuming we get at least 20 people to RSVP, we're all good for Nov 27th from 5-8pm.

[2018-10-24 16:20] jibby0 commented on #83
I've been putting this off, watching Sticker Mule's sale this week. But it doesn't seem like they're offering anything we're interested in.

I'll get the EAF and the purchase submitted this week. Before the purchase, I wanted to confirm: which designs were used for which sizes? I'm guessing:

5" x 1.88" : horizontal logo
4" x 3.95": vertical logo
2.88" x 3": tigwin

[2018-10-24 17:47] Tjzabel commented on #83
@jibby0 you are correct in your assumptions.

When we had originally gotten these stickers, we wanted to go a little smaller with the vertical logo.
@ct-martin @jwflory what do you think?

[2018-10-24 18:33] ct-martin commented on #83
We did. Probably 3x3" instead of 4x4" then. I marked this as "review at meeting"

[2018-10-24 20:20] jibby0 commented on #83
@Tjzabel I thought the 5" x 1.88" were the horizontal stickers. Just confirming, was this logo (the vertical) printed in 4" x 3.95", or 5" x 1.88"? https://github.com/RITlug/brand/blob/master/logo/png/vertical_color_no_wordmark.png

If the verticals were indeed on 4" x 3.95", I'll order them on 3" x 2.95" this time around.

[2018-10-24 20:28] Tjzabel commented on #83
@jibby0 yep! that's the vertical image we used.

Thanks for taking care of this :+1:
Also, how many are you thinking of ordering? How many stickers in total do we have left? I still have all mine minus a few

[2018-10-24 20:40] jibby0 commented on #83
Right now I'm looking at:

[code]

@ct-martin recommended double what we ordered last year, as we went through that in a semester + summer.

[2018-10-25 01:46] ct-martin commented on #83
To be clear though, that many should get us through the end of Spring
semester

--
Christian Martin (Phone)

On Wed, Oct 24, 2018, 4:40 PM Josh Bicking <notifications@github.com> wrote:

[2018-10-25 18:33] icflournoy commented on #63
### 2018-10-14 Eboard Meeting
- Looking at scheduling this during the first weekend of November (3rd / 4th)
- Will discuss at 10/31 eboard meeting

[2018-10-25 18:33] icflournoy commented on #72
### 2018-10-14 Eboard Meeting
@jrtechs @ct-martin @icflournoy are headed to the datacenter on 10/15 to install a router/switch to get external access to the machines

[2018-10-25 18:33] icflournoy commented on #44
### 2018-10-14 Eboard Meeting
- **action** @jrtechs to send weekly email, include project collaboration night
- **action** @jrtechs should remind Paul that we'd like his topic by Friday

We're looking at scheduling Jason's NixOS talk for Nov 30th
December 7th most likely would be our last meeting for the semester - Maybe console hacking talks, game day?

[2018-10-25 18:33] icflournoy commented on #83
### 2018-10-14 Eboard Meeting
- We were hoping there was a Sticker Mule sale. Unfortunately that time has passed.
- We are scaling down the vertical sticker (see Tim/Josh conversation above)

[2018-10-25 18:33] icflournoy commented on #59
### 2018-10-14 Eboard Meeting
- @jrtechs to include this in the weekly email
- waiting until we hit the 20 mininum
- sent to fossrit list (who can do this?)
- **action** @jibby0 to figure out what's involved in registering this as an off-campus event

[2018-10-25 18:33] icflournoy commented on #64
### 2018-10-14 Eboard Meeting
- **action** @jrtechs to mention it in this week's email
- **action** @jrtechs will post an annoucement closer to the weekend

[2018-10-25 18:33] icflournoy commented on #39
### 2018-10-14 Eboard Meeting
- Will discuss at 10/31 eboard meeting after the Hacktoberfest run this weekend

[2018-10-25 19:03] Tjzabel commented on #59
@icflournoy anyone who is subscribed to the FOSSRIT mailing list is able to post to it. Same as any other generic mailing list.

[2018-10-25 19:06] Tjzabel commented on #56
@nlMeminger ping. pls

[2018-10-26 23:34] jrtechs commented on #44
We have Paul confirmed for November 2nd

[2018-10-27 01:57] jasoncarr0 commented on #44
I'm good for Nov 30th. And I'd like to, time-permitting, give an overview of Snap/Flatpak/AppImage as well (and likely before I'd talk about Nix/Guix). Sorta "recent developments in packaging"

[2018-10-27 13:51] Tjzabel commented on #44
@jasoncarr0 awesome! I wish I was able to catch your talk!

[2018-10-29 20:54] jibby0 commented on #83
Update:

- The EAF is all filled out.
- I forgot the sticker designs needed approval: that's been submitted, currently waiting on that.
- Part of the EAF for something like stickers requires a quote from The Hub. I'm not sure they do custom sizes, or die-cut stickers: I sent them an email asking if they did, and asking for a quote if they do. Currently waiting on a response.

[2018-10-29 21:10] jibby0 commented on #59
The event has been registered as an off-campus event on https://reserve.rit.edu. Currently waiting for approval.

[2018-10-30 14:32] jrtechs commented on #60
Today I will fill out the [Maker Agreement Form](http://rochester.makerfaire.com/wp-content/uploads/sites/25/2018/10/MFR-Maker-Agreement-2018.pdf) and upload it to the maker fair.

I will be forwarding the informative email to @RITlug/eboard-2018-2019, however, I will link the [Maker Manual](https://docs.google.com/document/d/1uLmHQolPcv2cSEtJxU1h0XS6zL6AqgyrUWO7yQyJwK0/edit) in this ticket since

[2018-10-30 20:33] ct-martin opened #84 "Discuss RITlug's sponsors/affiliates"
Currently we're loosely affiliated with FOSS@MAGIC & OSSN. How much do we want to formalize this, and do we want to put these on our website? Also, do we want to add StickerMule as a sponsor? This is a discussion topic for eboard meeting.

[2018-10-30 20:58] jrtechs commented on #84
Were also considering something to do with a GitHub affiliation.

[2018-10-31 14:04] Tjzabel commented on #83
@jibby0 I would like to request that you put this on hold for the moment if possible.

I would like to hear back from StickerMule before we finish this order.

[2018-10-31 14:05] Tjzabel commented on #79
Do we still want to schedule additional eboard meetings?

[2018-10-31 14:07] Tjzabel commented on #72
@ct-martin @icflournoy Is this issue taken care of? As far as I can tell, @icflournoy has donated his switch to us to use with the CBET servers.

[2018-10-31 14:08] Tjzabel commented on #64
The hacktoberfest meeting took place last weekend.
@jrtechs would you want to post a synopsis of what went on over the weekend as a closing remark?

[2018-10-31 14:09] Tjzabel commented on #71
### Update
This is currently being documented in a runbook PR. This is blocked on me fixing the feedback I've gotten.

[2018-10-31 14:36] jibby0 commented on #83
@Tjzabel Good call, we'll wait on #84. In the meantime, our designs have been approved.

[2018-10-31 17:10] jrtechs commented on #64
We had a total of three people: myself, @ct-martin and my roommate. Low turnout was largely due to bad timing of the event since most of our eboard was out of town, it was raining, and danny hacks was going on. In the future we should send out a poll of the club to figure out when the most amount of people would be available.

Java Wally's is a perfect location for events like these, there was ple

[2018-10-31 17:45] Tjzabel commented on #64
@jrtechs great! This is a good baseline to go off on. Now we know how to have a good event in the future :+1:

[2018-10-31 20:15] jibby0 commented on #10
We're approaching the 6 week upper bound. If I don't see or hear anything by November 5th, I'll follow up with my Outback contact.

[2018-11-01 12:54] icflournoy commented on #84
### 2018-10-31 Eboard Meeting

The club is open to placing sponsors and affiliate logos/names on a dedicated page.
We are less enthused about including sponsors in the footer of every page unless they require us to do so.

The Club Manual and Club Financial Documentation do not contain specific verbiage on how clubs should interact with sponsors.

If we receive items from a sponsor, its likely tha

[2018-11-01 12:54] icflournoy commented on #64
### 2018-10-31 Eboard Meeting
_Issue resolved_
See https://github.com/RITlug/tasks/issues/39 for future collaboration events.

[2018-11-01 12:54] #64 closed

[2018-11-01 12:54] icflournoy commented on #39
### 2018-10-31 Eboard Meeting
- Learnings from https://github.com/RITlug/tasks/issues/64 should inform our process for weekly collaboration nights going forward

[2018-11-01 12:54] icflournoy commented on #63
### 2018-10-31 Eboard Meeting
- Will plan next meeting in https://github.com/RITlug/tasks/issues/79

[2018-11-01 12:54] icflournoy commented on #79
### 2018-10-31 Eboard Meeting
- Will discuss when to hold next long-term planning meeting at the 11/7 eboard meeting

[2018-11-01 12:54] icflournoy commented on #72
### 2018-10-31 Eboard Meeting
- Switch is in club possession in the club locker.
_issue resolved_

[2018-11-01 12:54] #72 closed

[2018-11-01 12:55] icflournoy commented on #44
### 2018-10-31 Eboard Meeting
- Paul is set for this Friday, we would like confimation that he knows the location/time - @jrtechs to follow up

[2018-11-01 12:55] icflournoy commented on #83
### 2018-10-31 Eboard Meeting
- Blocked on discussion with StuckerMule about sponsorship
Related: https://github.com/RITlug/tasks/issues/84 for bigger picture affiliation/sponsorship showcasing on website

[2018-11-01 12:55] icflournoy commented on #59
### 2018-10-31 Eboard Meeting
- We have 8 people confirmed going
- @jibby0 to post in #annoucements this week, next week, week leading up to the dinner
- @jibby0 will reach out to alumns / RITlug related people directly

[2018-11-01 12:55] icflournoy opened #85 "Facilitate ITS introduction and IP assignment increase/waiver"
Solomon has a contact at ITS that manages the club's IP allocation.

**Actions**
- Have eboard members (@Tjzabel ... ?) introduced to contact at ITS
- Learn what the process is for increasing or waivering the IP limit for the club, so that we can assign addresses to the CBET cluster

[2018-11-01 13:35] jwflory opened #86 "Work with Mark to print a new RITlug banner"
@repkam09 offered to help print a free 24x36" color poster (the benefits of knowing people at Kodak). :smile: To help Mark with this, we should create a poster design or have some loose idea of what we want to include on the poster.

[2018-11-04 22:29] jwflory commented on #83
For what it's worth, I got an out-of-office email from my contact at StickerMule. He returns from paid time off on Nov. 10th. If we don't hear back after, I can follow-up and email again.

[2018-11-04 22:39] jwflory commented on #59
I did some 1x1 pinging this afternoon. Hoping we bring in a few more RSVPs.

[2018-11-04 22:51] jwflory commented on #84
With FOSS@MAGIC, we can put the logo on our website.

![foss_at_magic_logo](https://user-images.githubusercontent.com/4721034/47970900-55250200-e059-11e8-9205-7e871522863c.png)

This is blocked until we hear back from Justin at StickerMule.

We should probably open this as a new ticket. I know they have a program but I have not initiated anything yet. It might not happen this semester.

The terms

[2018-11-04 22:52] jwflory commented on #71
@Tjzabel Since we're no longer externally blocked here, I updated the assignee, labels, and project board for this issue.

[2018-11-04 22:56] jwflory commented on #60
I bumped into @KennyTaylor the other day and he confirmed the Lakka install on the Raspberry Pi is almost done. He is planning to bring it for a demo to the meeting this Friday, Nov. 9th.

[2018-11-04 22:57] jwflory commented on #39
We should get another one of these on the calendar at the next eboard meeting.

[2018-11-05 18:34] jwflory commented on #80
I got this done today. I created it under my personal account [here](https://github.com/jwflory/sphinx-docs-opinionated-quickstart) first (since I also want to use this for personal projects later), but I also forked it to the RITlug org [here](https://github.com/RITlug/sphinx-docs-opinionated-quickstart).

Closing as complete. :clapper:

[2018-11-05 18:34] #80 closed

[2018-11-05 18:35] jwflory commented on #86
@repkam09 Is it enough to just send you the logo we want printed? Or do we need to send a PDF / other design to make this happen?

Just sending the logo is most convenient for us since it's already ready, but we can probably get a more print-friendly format together if necessary.

[2018-11-06 23:30] jibby0 commented on #10
We've surpassed 6 weeks. CampusGroups has not shown any deposit from Outback. I'll reach out again this week.

[2018-11-06 23:49] Tjzabel commented on #83
@jibby0 for what it's worth, I still have quite a few stickers left over in my own collection. If need be, I can mail them over to you guys.

[2018-11-07 21:09] jrtechs commented on #83
# Eboard Meeting Notes 11-7-18

Do we want to do stickers for makerfair? Yes.
- Follow up with @Tjzabel  to see how many stickers he has and have him ship them out.
- Flory has like 5ish.
- @jrtechs has about a dozen

As a backup option we can do a rush order.

[2018-11-07 21:17] jibby0 opened #87 "Add "Upcoming Events" section to the newsletter template"
Our pre-meeting emails should include a section highlighting upcoming events.

[2018-11-07 21:24] jwflory opened #88 "Plan next CBET trip #4"
@ct-martin did some work with the CBET servers in #76. He wants to coordinate another visit with Dr. Skuse in the near future.

[2018-11-07 21:32] Tjzabel opened #89 "Install TigerOS on demo laptop for Maker Faire"
We need to have TigerOS set for the Maker Faire.

@ct-martin said he would take charge to attempt the impossible task of installing TigerOS onto Aidan's laptop, which seemingly refuses to install from USB.

[2018-11-07 21:32] jrtechs commented on #39
# Eboard Meeting

Based on attendance of last meet-up, we want to figure out when people are generally available for these events.

## Action Items

@jwflory Will work on figuring out when people are generally available for project collaboration. He will work on this sometime before next eboard meeting.

[2018-11-07 21:47] jwflory opened #90 "Define guidelines for meeting presenters"
From 2018-11-07 eboard meeting. Next steps are to define set of guidelines for meeting presenters (esp. around communication / empathy). I'm collecting a loose set of guidelines and I'll share them in this issue before the next eboard meeting on 2018-11-14.

[2018-11-07 21:49] ct-martin commented on #89
It does install from USB, but only certain ones. I have a couple magic drives that work.

[2018-11-13 15:30] Tjzabel commented on #89
As a very small update to this issue, we have a mostly-working F29 TigerOS ISO that can be used for a Maker Faire demo.

[2018-11-13 15:33] Tjzabel commented on #88
To maintain a more organized approach to these CBET trips, I would like to have a comment added in here as to what goal we hope to achieve from each trip.

[2018-11-13 15:38] Tjzabel commented on #87
I've added an Upcoming Events section to the weekly newsletter template. Closing issue as complete.

[2018-11-13 15:38] #87 closed

[2018-11-13 15:40] Tjzabel commented on #83
As an update to this issue in terms of the Maker Faire, I've mailed my RITlug stickers to Justin to take with him to the fair.

At this point, I don't think we will be able to order any new stickers to arrive before the Maker Faire, so we are going to work with what we have. With that being said, I'm going to remove the Maker Faire milestone from this issue, since it is no longer in scope.

[2018-11-13 15:43] Tjzabel commented on #60
@jwflory @jrtechs @jibby0  was a demo ever shown at the November 9th meeting?

[2018-11-13 16:38] ct-martin commented on #89
This is definitely going to be something I don't get to until the meeting on Friday

[2018-11-13 16:41] ct-martin commented on #88
Next trip will be to pull out the non-working servers down there, and if possible, get them registered on the RIT network properly (which blocks on #85). Also rumor from a person that we may see a donation of a server sometime in the near-ish future, which I'd put down if we get it before this trip. In all likelihood, this trip might not happen until next semester.

[2018-11-13 16:49] Tjzabel commented on #89
@ct-martin :+1:

[2018-11-13 17:03] jwflory commented on #83
We heard back from @jdorfman this morning. To confirm, our final sticker quantity is 60 stickers each of the three varieties detailed by @jibby0 [here](https://github.com/RITlug/tasks/issues/83#issuecomment-432819780). Will update again here once we hear back.

[2018-11-13 17:07] Tjzabel commented on #83
@jwflory yep, that's what we agreed upon :+1:

[2018-11-13 18:22] jdorfman commented on #83
@jwflory did you account for [hexagon versions](https://www.stickermule.com/uses/hexagon-stickers)? If not we must include more store credit ;)

[2018-11-16 02:59] jwflory commented on #39
I created a [new WhenIsGood poll](http://whenisgood.net/ritlug/project-jam-nov-dec-2018) to solicit feedback for a good meeting time. Assigning to me and marking as blocked while we wait for responses. I'll work to keep on top of this over the Thanksgiving break.

[2018-11-16 03:02] jwflory commented on #43
This ticket is blocked on an outside response for most of the semester. To keep up with the project board, I'm closing this issue. We can always reopen with an action item if someone has bandwidth and volunteers to take it on.

[2018-11-16 03:02] #43 closed

[2018-11-16 03:07] jwflory commented on #86
@repkam09 I think this is probably the logo we would want to print, and I think it would be enough as-is. The rest of @RITlug/eboard-current could leave feedback on logo preference too.

Would you be able to use this logo?

[![RITlug horizontal color logo with wordmark](https://user-images.githubusercontent.com/4721034/48595424-8f788400-e922-11e8-8c7a-8d766322afe5.png)](https://github.com/RITlug/b

[2018-11-16 03:15] jwflory commented on #83
As an update, this ticket is blocked on RITlug/ritlug.github.io#179. Once it's closed, we can move forward with closing this ticket out. Thanks for the support, @jdorfman! :tada:

[2018-11-16 03:32] jwflory commented on #79
As an update, we planned the #63 discussion for a two-hour special topic meeting on December 1st, 4pm-6pm. Notes specific to that meeting will go into #63.

[2018-11-16 03:36] jwflory commented on #13
This issue recently turned one year old. I'm going to close this issue on RITlug/tasks, and the TigerOS team can take it up to organize a test day in RITlug/TigerOS. If the @RITlug/tigeros-team folks need any help from eboard to do something like this, please let us know. :slightly_smiling_face:

[2018-11-16 03:36] #13 closed

[2018-11-16 22:35] jwflory commented on #60
## Maker Faire day-before prep

These are the notes from our Maker Faire prep in today's general meeting.

* **ARRIVAL TIME**: 8:15 AM
* **BREAKDOWN TIME**: 5:00 PM

### Transportation

We haven't heard back from Dante yet. We are waiting to hear if he needs transportation or if he has a car.

#### @jibby0

* @jrtechs
* @sierra-skorupski

#### @JacobFaunce

* Kenny Taylor

#### @nlMeminger

* @ct-

[2018-11-17 22:47] Tjzabel commented on #89
Since Maker Faire kinda happened today, I think it's safe to close this issue :)

[2018-11-17 22:47] #89 closed

[2018-11-17 22:47] Tjzabel commented on #60
Maker Faire has completed!

[2018-11-17 22:47] #60 closed

[2018-11-19 15:35] jwflory commented on #10
@jibby0 Any word back yet?

[2018-11-19 15:57] jibby0 commented on #10
Due to a mix up, no check was sent.

A check was sent with expedited shipping a few days ago. We should expect to see it early next week.

[2018-11-19 16:02] jibby0 commented on #59
Update: as of today, we are still 6 people short of the 20 person deadline. A handful of FOSS friends are busy, out of town, or otherwise can't make it, sadly.

I'll do some more pinging this week. We need those 6 RSVPs by Saturday, the 24th.

[2018-11-23 19:58] jwflory commented on #39
Results from the WhenIsGood are shown [here](http://whenisgood.net/ritlug/project-jam-nov-dec-2018/results/2ias2z3). So far, only me, @ct-martin, and @jrtechs have filled it out. Given next week also has a FOSS Family dinner (#59), I suggest we push our next project session to next semester.

[2018-11-23 20:36] jwflory commented on #90
As a next step for this ticket, I suggest we implement the [Contributor Covenant](https://www.contributor-covenant.org/version/1/4/code-of-conduct) as a code of conduct for presentations and interactions inside of RITlug physical and virtual spaces. It would supplement [RIT's Code of Conduct](https://www.rit.edu/academicaffairs/policiesmanual/d180).

The Contributor Covenant says all the things I

[2018-11-26 20:36] jasoncarr0 commented on #44
Going to give a talk. Having a bit of trouble coming up with the name. "New developments in packaging" is really boring, so I have "The New Packages" right now, which is pretty mysterious. In any case the description is ultimately something like "An overview of newer cross-distro package systems, snap/flatpak/appimage, as well as Nix/Guix".

[2018-11-26 21:55] ct-martin commented on #44
"NixOS and Cross-Distro Packaging"?

--
Christian Martin (Phone)

On Mon, Nov 26, 2018, 4:40 PM Jason Carr <notifications@github.com wrote:

[2018-11-28 17:40] Tjzabel commented on #79
@RITlug/eboard-current Is there a possibility of moving this meeting to 3-5pm EST?

[2018-11-28 17:45] Tjzabel commented on #56
This is complete.

[2018-11-28 17:45] #56 closed

[2018-11-28 17:47] Tjzabel commented on #83
Since this is now unblocked, and we have our credits, we are able to move forward with ordering stickers.

[2018-11-28 17:51] Tjzabel commented on #10
@jibby0 any progress?

[2018-11-28 17:54] Tjzabel commented on #86
@jwflory what is the purpose of printing out our logo on a poster? Is this more for a banner?

[2018-11-28 18:32] jwflory commented on #79
@Tjzabel I can do that time.

[2018-11-28 19:20] jibby0 commented on #10
@Tjzabel Nothing in CampusGroups, nothing new from outback. They said early this week. If i continue to hear nothing today, I'll reach out again.

[2018-11-28 19:24] ct-martin commented on #86
@Tjzabel yes, it's a banner. The current one uses the old logo and is generally dated

[2018-11-28 20:22] ct-martin commented on #88
We might get the server donation tomorrow (will find out by mid-day), and the servers needing work will be pulled from CBET on 11/6

[2018-11-28 20:43] ct-martin commented on #84
Logos were added to the site; at this point the only part of this issue left is to figure out how GitHub's program works and possibly reach out to them. @jwflory also mentioned making a new issue for this, but I leave that judgement to someone else.

[2018-11-28 21:12] jwflory commented on #79
_Discussed in 2018-11-28 meeting._

We officially bumped the time back to 15:00-17:00 and we will meet in the MAGIC Suite of the new MAGIC building at RIT. Note you may need to use the Gannet entrance to get there since it's a Saturday and the building might be locked.

[2018-11-28 23:20] jwflory commented on #88
@ct-martin Is the server donation something we should document? I think I remember you looked into this a while back about donations but not sure where that discussion went.

[2018-11-29 00:30] ct-martin commented on #88
@jwflory we should document (and in a different issue). I don't remember if/what club office needs to know about this, although I know we discussed it a couple times. @jibby0 do you remember?

[2018-11-29 02:06] Tjzabel opened #91 "Set RITlug GitLab to autorenew Let's Encrypt cert"
Currently the hosted gitlab does not autorenew, and so we run into issues where the gitlab goes down.

We should add this as a cron job so we do not need to do this manually.

[2018-11-29 12:16] icflournoy commented on #44
### 2018-11-28 Eboard Meeting Notes
@jwflory will follow up with @jasoncarr0 to get a topic summary and then send the weekly email by tomorrow (11-29) 12PM.

Next week (12/7):
- Casual game night
- Maybe @ct-martin is able to get an additional projector?

[2018-11-29 12:16] icflournoy commented on #83
### 2018-11-28 Eboard Meeting Notes

Agreed on doing the 60/60/60 split (above) https://github.com/RITlug/tasks/issues/83#issuecomment-432819780

[2018-11-29 12:16] icflournoy commented on #90
### 2018-11-28 Eboard Meeting Notes

Start by applying a document like the Contributor Covenant to RITlug speakers/presenters.

Speak with SJ about the pragmatics of enforcement:
- What would implementing/enforcing during a meeting (outside of presentations) look like in practice?
- What would we do in the face of a presenter violating a code of conduct? How is our feedback delivered to the presen

[2018-11-30 19:27] Tjzabel opened #92 "Secure room reservation for spring semester"
We currently don't have a room reservation for the spring semester. We need to contact RIT about this soon.

[2018-12-01 01:44] jrtechs commented on #92
Once we do the reservation for the spring semester we should address run book issue ritlug/runbook#49
I can take on the task of updating the run book documentation for this over winter break.

[2018-12-05 12:57] jrtechs commented on #90
@jwflory and myself were unable to chat with SJ about this on the 4th because SJ had to leave Foss hours early.

I believe that we should try to reschedule that meeting; however, doing so may be difficult since it near the end of the semester.

Personally, I don't think that it would be a bad idea to start rolling out a basic [code of conduct](https://help.github.com/articles/adding-a-code-of-cond

[2018-12-05 14:39] jibby0 commented on #10
Check has been received. Waiting on club office to process the check.

[2018-12-05 14:41] jibby0 commented on #59
Our dinner was a success! We raised $74.65 for the club.

We should receive this check by early January: if we haven't heard anything by the beginning of spring semester, I'll reach out to IHOP.

[2018-12-05 15:15] Tjzabel commented on #83
I removed the "review at meeting" label since we have agreed on what we need to get.

I need to just go in and order the stickers.

[2018-12-05 15:17] Tjzabel commented on #79
@ct-martin Is this something you would still like to do?

We are at the end of the semester, and I'm not sure what the status of this issue is. We can either  close out the issue, rename it to reflect a more specific purpose, or just remove the "review at meeting" label.

[2018-12-05 15:23] Tjzabel commented on #79
Do we want to have an infrastructure meeting at some point to go over the current status of IPs and such?

[2018-12-05 15:59] ct-martin commented on #79
@Tjzabel the last items for this issue was the meeting we had this weekend. We can talk in eboard about meeting ITS today. If we want to do anything else, that's beyond the scope of this issue and a new one should be filed.

[2018-12-05 15:59] #79 closed

[2018-12-05 18:31] jwflory commented on #90
@jrtechs Yeah, last night ended up being a little hectic. I think it's a good idea to bring this up with @itprofjacobs either over email during the break or right at the start of next semester. We can mark it as blocked for now.

[2018-12-07 20:15] jwflory opened #93 "Off-board Justin from RITlug eboard"
At the end of the semester, we should follow [standard off-boarding procedure](http://runbook.ritlug.com/administration/eboard-onboarding-offboarding/) for me from RITlug eboard.

[2018-12-07 20:18] Tjzabel commented on #93
I veto this idea.

[2018-12-07 20:20] Tjzabel commented on #83
Since I've totally forgotten to do this, would you guys want me to order stickers, and just have them shipped to my house? Since we aren't using an RIT VISA card, we don't need to have these stickers shipped to the clubs office.

[2018-12-07 20:44] Tjzabel opened #94 "Look at moving all infrastructure-related issues to RITlug/Infrastructure"
It may be a good idea to look at consolidating all issues related to the RITlug infrastructure to the [RITlug Infrastructure](https://github.com/RITlug/infrastructure) repository.

That way, we can get good use out of the repo, and all infra-related issues can be hosted in one central location.

[2018-12-08 23:03] jrtechs commented on #93
I can work with @Tjzabel over winter break to do this.

Have we ever done anything with the [email aliases](http://runbook.ritlug.com/administration/eboard-onboarding-offboarding/)? I think I should update this page over Christmas break -- we still have references to Facebook on this page.

[2018-12-08 23:05] jrtechs commented on #83
@Tjzabel I have no problem with that. How long do orders typically take to get fulfilled?

[2018-12-08 23:09] jrtechs commented on #94
@Tjzabel Do you want to migrate all current infrastructure related issues out of tasks and into the infrastructure repository?

[2018-12-09 00:21] jwflory commented on #83
@Tjzabel +1, so long as you are confident you can bring them up in time for spring semester. :slightly_smiling_face: Do eet!

[2018-12-09 00:31] jwflory commented on #63
@icflournoy @jrtechs Anyone know what happened to the meeting minutes from the last special-topic eboard meeting?

[2018-12-09 00:48] ct-martin commented on #93
TigerOS uses tigeros@ when interacting with upstream, and I would like to
keep tigeros-lead@ and projects@ around because they're useful on occasion

--
Christian Martin (Phone)

On Sat, Dec 8, 2018, 7:24 PM Justin W. Flory <notifications@github.com
wrote:

[2018-12-09 01:10] jwflory opened #95 "Document project@, tigeros@, tigeros-lead@ aliases in Runbook"
# Summary

Document use of and how to update TigerOS email aliases

# Background

This comes from #93 where we are talking about deprecating unused email aliases like `president@`, `vicepresident@`, etc.

@ct-martin requested we preserve the following aliases:

* `tigeros@`
* `tigeros-lead@`
* `projects@`

# Details

We should document the following:

* What aliases are used for (e.g. what website

[2018-12-09 01:11] jwflory commented on #93
@ct-martin Sounds good. I opened #95 to keep track of documenting that.

[2018-12-09 13:54] jrtechs commented on #63
@jwflory, @icflournoy documented this meeting in google docs since it was quite long.

https://docs.google.com/document/d/1_iPkFOdyusGuVRyQuTIUTruSVeNJl0PCAjd5R9IKkvg/edit

[2018-12-10 14:36] icflournoy commented on #63
I'll be cleaning up the doc this week now that I have some more free time.

[2018-12-11 16:46] Tjzabel commented on #94
@jrtechs I agree with what @jwflory said. Infra-specific tasks would be great to migrate over. Tasks that involve eboard participation should stay in the tasks repo.

This would allow infra-related issues to move at their own pace, and gives them a place to be congregated.

[2018-12-11 16:52] Tjzabel commented on #10
@jibby0 Check has now been processed, correct?

[2018-12-11 16:54] Tjzabel commented on #10
Monetary additions have not yet shown up in campusgroups. We should keep this open until that occurs.

[2018-12-11 16:57] TaylorBowling commented on #10
I approved the cashing of the check last week with Megan Brown from the
Center for Campus life. Let me know if I need to take any further action.

Thanks,
-Taylor

On Tue, Dec 11, 2018 at 11:54 AM Tim Zabel <notifications@github.com> wrote:

[2018-12-11 17:33] jibby0 commented on #10
Thank you Taylor! I got the confirmation email: as of Dec 7th, the Outback check has been routed for deposit.

The money may not show up in campusgroups until after break. I'd call the confirmation email proof, but it may be best to wait until the money's in our hands, you're right.

[2018-12-11 17:47] ct-martin commented on #94
If you move tickets I would appreciate if you copied over the history as I've left notes in some of the issues. Otherwise, do as you wish I guess. Please tag me on any issues I should be tagged on in the new repo so I get the emails

[2018-12-11 17:49] Tjzabel commented on #94
@ct-martin this isn't a "do as you wish" sort of thing. The Infrastructure repo will host other things not related to current infra tickets. If you would like, we can move *future* infrastructure tickets to the repo.

[2018-12-11 23:05] jwflory commented on #94
On a side note, if we do want to migrate existing tickets later, this feature was introduced a month or two back if you noticed it in the sidebar of issues:

![Transfer a GitHub issue to another repository](https://user-images.githubusercontent.com/4721034/49835999-14fb2280-fd6f-11e8-9036-39b8f19e81c4.png "Transfer a GitHub issue to another repository")

I've transferred issues across repos elsewh

[2018-12-29 20:04] jrtechs commented on #44
I'm going to close this issue and open a new one for spring.

[2018-12-29 20:04] #44 closed

[2018-12-29 20:13] jrtechs opened #96 "Spring Semester (2019) Planning"
Week | Theme | Day | Title | Brief | Workshop | Owner
-- | -- | -- | -- | -- | -- | --
1 | First Meeting | Jan 18 | OS Installfest | Welcome to the Spring Semester! This meeting focuses on an overview of Linux distributions followed by an installfest | Yes | @Tjzabel et. al
2 | Linux | Jan 25 | `systemd` | Learn why systemd is cool! | N/A | Garrett
3 | Cloud | Feb 1 | Intro to "The Cloud" | Learn

[2018-12-31 03:44] Tjzabel commented on #95
We generally want to put these runbook documentation issues over in the runbook repo, right?

[2018-12-31 04:01] Tjzabel commented on #83
Figured I would order stickers today (Dec 30). They won't come to my house until after I leave for Rochester. Will order the stickers first thing when I'm back on campus.

[2018-12-31 16:43] jwflory commented on #93
I completed my off-boarding tasks this morning. I have done the following:

* De-listed as officer in CampusGroups
* Removed from eboard email alias
* Removed from _Current Eboard_ GitHub organization team
* Removed from Google Drive folder

My Slack membership needs to be downgraded from an owner to a member (I think only @Tjzabel can do this as primary owner). I will also leave the eboard privat

[2018-12-31 17:47] Tjzabel commented on #93
As a follow-through, Just has been downgraded successfully from Workplace Owner to Full Member status.

[2019-01-03 17:53] ct-martin commented on #95
For docs, re:

[code]

`tigeros@` goes to any active members of the TigerOS team. It is used as pseudo-mailing list and for easily/consistently communicating with the entire team over email, and also gives a place for people outside the team to email with questions. Any active member of the team should be on this list and making sure people get added/removed is the responsibility of the TigerOS pr

[2019-01-03 17:59] ct-martin commented on #95
Also for consideration, we may want to alias `admin@` and `webmaster@` to `projects@` since those are commonly used.

[2019-01-03 18:02] ct-martin opened #97 "Deprecate unused email aliases"
This is an action item coming from #93 & #95 to remove unused email aliases.

List of emails to verify they aren't used/mentioned anywhere current and remove:
* `president@`
* `secretary@`
* `treasurer@`
* `vicepresident@`

Others that exist that we may or may not want to consider keeping:
* `advisor@` (goes to SJ)
* `info@` (alias of `eboard@`)

[2019-01-03 18:19] ct-martin commented on #88
Servers were pulled out and put in the Lab for Data Acquisition & Analytics and I was granted swipe access. I was also told a couple days ago that the other server donation was dropped off over break, but I won't be able to look at it until I get back. I have a computer I'm going to donate as well which is about the same-ish power as the old server we have, but newer hardware. Closing this issue a

[2019-01-03 18:19] #88 closed

[2019-01-03 21:42] ct-martin commented on #94
I transferred a bunch of issues to the infra repo and re-added the meta-issues on the ops project board.

Note for future reference: if you transfer issues, the labels, project boards, milestones, & references to the issue (such as #xx) get broken.

[2019-01-03 21:42] #94 closed

[2019-01-03 21:51] ct-martin commented on #93
@jwflory was still a GitHub Org owner and was on the TigerOS Admins team. I have made him a regular member and removed him from the admins group. As a note, in the future we should keep these issues open until a remaining eboard member has verified that all off-boarding has been completed.

[2019-01-03 21:58] ct-martin commented on #93
Found another to do (@Tjzabel): remove @jwflory from the RITlug private GitLab repos

[2019-01-03 22:10] ct-martin opened #98 "Decide Spring 2019 monthly topics"
We have the following topics, we need 2-3 sentences & a couple bullet points of sub-topics. _(This is from Long-Term Planning Meeting (#63); I have added a picture of the whiteboard to the GDoc)_

Topics and who will do the write-up:
* Cloud (Ian)
* Security (Tim)
* Maker movement (Christian)
* Up and Coming Technologies (Jeffery)
* Programming (Josh)

[2019-01-03 22:33] ct-martin opened #99 "Committee Structuring"
From Long-Term Planning Meeting (#63):

I will do Projects, @jrtechs will do Events

Upon completion: File an issue for the website to add pages & call-outs for these.

[2019-01-03 22:38] ct-martin commented on #99
Projects:

[2019-01-04 20:38] jwflory opened #100 "Grant admin access to jwflory for Teleirc"
When my permissions were downgraded in the RITlug org, I lost access to the Teleirc repository. Could I be re-added as an administrator to the repository?

[2019-01-04 20:58] ct-martin commented on #100
Gave @jwflory maintainer rights to the Teleirc team and created a new Teleirc Admins sub-team with @jwflory in it and admin access to the repo, like TigerOS has.

@jwflory you'll need to add other admins to the sub-team yourself.

[2019-01-04 20:58] #100 closed

[2019-01-04 21:06] jrtechs commented on #99
# Recap

As a recap from the long term planning, we want to reduce some clutter in eboard meetings to make us more effective. From SJ's suggestion we decided to try committees. Committees will hopefully make it easier to get people involved with Eboard and help us better delegate tasks rather than randomly choose an eboard member. We have three main committees in mind, the talks, projects and the

[2019-01-04 21:31] jrtechs opened #101 "Eboard Meeting Time (Spring 2019)"
# When
For the spring semester we need to determine when is a good time for Eboard meetings and where we are going to have eboard meetings. The caveat of this issue is that we should also consider about the meeting times of the committees #99.

## When is good
### Poll
[When is good poll](http://whenisgood.net/fnrbqmz)
### Results
[When is good results](http://whenisgood.net/fnrbqmz/results/brc4if

[2019-01-04 21:44] jrtechs commented on #98
Up and Coming Technologies:

With this topic we can possibly have some interesting talks about open source metrics and data visualization.

[2019-01-06 23:53] Tjzabel commented on #93
:wave: @jwflory

[2019-01-06 23:53] #93 closed

[2019-01-07 14:10] jrtechs commented on #92
I can confirm that we have the room reserved for our weekly meetings in the large DB. Now, we just have to add the events to campus groups.

[2019-01-07 14:22] ct-martin commented on #92
@jrtechs we need to make sure it gets approved by club office, we've had issues with that in the past

[2019-01-16 18:31] ct-martin commented on #95
Update from looking at Namecheap: I lied apparently and `tigeros-lead@` doesn't exist. Doing some digging we used `tigeros@` and sent from our `@rit.edu` emails with text in the signature.

[2019-01-16 22:22] jrtechs opened #102 "Spring FOSS Family Dinner"
Since the last full week of classes we don't have our room for FOSS (Wednesday, April 24th), we want to do the FOSS family dinner that night.

Group Raise Me Link:
https://www.groupraise.com/restaurants/search?lat=43.0812766&lng=-77.67518760000002

[2019-01-16 23:57] ct-martin opened #103 "Renew `ritlug.club`"
We need an EAF to renew this, will not cost much. Will expire Jan. 28

[2019-01-17 18:30] ct-martin opened #104 "[Discuss] Posting RITlug announcements on the website again"
For history:
The RITlug website makes an RSS feed of announcements which would posted by an IFTTT hook to a public mailing. Due to RIT's mailing filters though, our emails started getting filtered and we had to start using RIT's proprietary CampusGroups setup. Our emails are getting through, but now people outside RIT can't follow what RITlug is doing, and adding external people to the CampusGroup

[2019-01-17 18:31] ct-martin commented on #104
As a side note, this was partly prompted by a discussion in the OSSN chat about setting up a planet (feed aggregator)

[2019-01-17 18:32] ct-martin commented on #104
Also, we'd still be posting emails via CampusGroups for people at RIT

[2019-01-17 20:08] Tjzabel commented on #59
@jibby0 wondering if we should wait until Feb 1st, or send a joint email asking about both the April dinner and this one.

[2019-01-17 20:12] Tjzabel commented on #86
@repkam09 ping

[2019-01-17 20:39] jibby0 commented on #10
:eyes:

I'm heading into club office soon to pick up an EAF, I'll check with them

[2019-01-17 22:02] ct-martin commented on #104
Moving back to website issue on the topic

[2019-01-17 22:02] #104 closed

[2019-01-18 00:08] icflournoy commented on #101
### Eboard Meeting Notes 2019-01-17

Book a small conference room in the MAGIC Center for eboard meeting for the Thursday 3:30 - 4:30 time slot. @Tjzabel will email SJ to coordinate the reservation.

[2019-01-18 00:08] icflournoy commented on #96
### Eboard Meeting Notes 2019-01-17

1/18 - This Friday's Install-fest:
- break into four corners
- assist with downloading ISOs and loading them onto a virtual machine
- Supply a few flash drives for the people who want to install on their machine
- have some OpenBSD, Project Trident
- Jason with NixOS

1/25 - systemd with Garret:
- What is systemd, features (dependencies, targets, timers)
- When

[2019-01-18 00:08] icflournoy commented on #98
Cloud

Programming

[2019-01-18 00:08] #98 closed

[2019-01-18 23:00] zethra commented on #96
I would like to give a talk on the Rust programming language.

[2019-01-20 18:46] Tjzabel commented on #96
@zethra great! Does either March 22 or March 29 work for you to fit in with our Programming theme?

[2019-01-20 18:47] zethra commented on #96
Either should work.

[2019-01-20 18:58] Tjzabel commented on #96
@zethra great! I put you in for March 22. When the time comes closer (or if you know now), let me know if you would like this talk to be interactive / have a workshop.

Also, let me know if you would like to change the *Title* or *Brief*.

[2019-01-20 20:19] ct-martin commented on #96
@icflournoy how does this sound for the intro/sec cloud talk?

[2019-01-21 02:33] ct-martin commented on #103
Domain expires Jan. 28

[2019-01-23 12:21] jrtechs opened #106 "Imagine RIT 2019"
We should start considering what we are going to present so that we can submit the proposal by these dates.

http://www.rit.edu/imagine/proposal.php

Important Deadlines
February 9, 2018 to be considered for placement in the Gordon Field House
March 20, 2018 to be included in the print program
April 6, 2018 to complete and confirm Exhibitor Profiles

[2019-01-23 15:54] jibby0 commented on #10
I can confirm, the outback check was added as a credit, according to the transaction list in our club office folder.

Still not appearing in CampusGroups, however.

I feel we could close this: we have paper records now, showing club office as the money. Any money we use goes through them, so we have access to it.

Or we could keep waiting, and see if it appears on CampusGroups before closing this.

[2019-01-23 15:55] jibby0 commented on #59
It's been over 6 weeks (the time CampusGroups asks you to wait for the check). I'll reach out to the manager of IHOP.

[2019-01-23 16:49] ct-martin commented on #10
I think we should wait until it's in CG given how smoothly this went

--
Christian Martin (Phone)

On Wed, Jan 23, 2019, 10:54 AM Josh Bicking <notifications@github.com wrote:

[2019-01-24 01:54] Serubin opened #107 "Replace current backup solution for Titan & New servers"
Replace current backup solution for Titan & New servers. The current backup solution is being paid in full by Serubin. By April 1st I'm requesting that we switch to a RITLUG funded solution.

Currently the backup solution uses Online.net's C14 archival storage solution at $0.01 per GB / Month with no transaction costs (archive/unarchive).

Another solution is amazon glacier which is $0.004 per GB

[2019-01-24 20:36] #101 closed

[2019-01-24 20:46] Tjzabel commented on #103
@jibby0 I think 4 years should be perfectly fine.

[2019-01-24 20:47] jibby0 commented on #103
Alright, I'll order 4 years for each.

[2019-01-25 16:51] jibby0 commented on #107
Ayyyyooo. :wave: So eboard is still figuring out if/how we'd like to do offsite storage, and what items will be important enough to back up. However, there are some essential things we can take care of in the meantime: with your approval, we would like to

- Modify the current backup solution on Titan to exclude any RITLUG VMs and data.
- Remove any RITLUG data from Titan's existing offsite backup

[2019-01-25 21:22] jibby0 commented on #96
Would anyone be interested in a talk on ZFS for Up and Coming Tech?

Could throw some other interesting/new/experimental filesystems in there too (btrfs, maybe even ReFS and AppleFS), how they compare to the oldies (FAT) and common journaled filesystems (NTFS, ext4, etc.). Or make it a general FS talk. I don't think we've had one of those since Nate Levesque's.

[2019-01-26 01:33] Tjzabel commented on #96
@jibby0 I would be interested!

[2019-01-28 16:29] Tjzabel opened #108 "Finalize Teleirc meeting time and place"
@jwflory sent out a whenisgood poll to find a meeting time that fits best with everyone's schedules.

I believe a time has been finalized. We now need to send out that meeting time, and get to work on a room reservation somewhere.

[2019-01-28 16:32] Tjzabel opened #109 "Find TigerOS meeting time and place"
The TigerOS SIG needs to find a proper meeting time and place this semester.

## Action Items
* Find meeting time -- whenisgood poll in announcements channel (@ct-martin or @Tjzabel )
* Find meeting room -- most likely in MAGIC center

[2019-01-28 20:34] jrtechs opened #110 "All Club Meeting"
[code]

We need to send someone to this. @icflournoy are you going for the train club this semester?

[2019-01-29 02:38] Tjzabel commented on #107
@jibby0 sounds good for the most part.

*If possible*, it would definitely be great if we could simply back up Titan to the R900 instead of having to incur backup costs.
This method, however, is blocked on us completing the R900 setup.

[2019-01-29 02:39] Tjzabel commented on #103
What's our current status with this? Afaik, the domain ended tonight, the 28th. Is our current plan to wait for the grace period while we try to get the EAF situated?

[2019-01-29 02:47] jibby0 commented on #103
Yup, I can't get a signature for the EAF until tomorrow. So it'll have to wait. If all goes well, we'll have the domain renewed by tomorrow afternoon.

[2019-01-29 14:45] icflournoy commented on #110
Hey @jrtechs I'll be unable to attend this year. I believe @Tjzabel mentioned he'll be able to go.

[2019-01-31 19:21] Tjzabel commented on #110
I went to this meeting. Only thing notable is the 20% fundraising we need to have accomplished before we ask for a budget for next school year.

### Budget Window
March 1st, 2019 - April 31st, 2019

[2019-01-31 19:47] Tjzabel commented on #92
Club meetings show up in CampusGroups now.

Closing issue.

[2019-01-31 19:47] #92 closed

[2019-01-31 20:23] Tjzabel commented on #83
This was uh, finally done.

I'm going to keep this issue up until the stickers are in my hands.

[2019-01-31 20:35] #110 closed

[2019-01-31 20:42] #70 closed

[2019-01-31 21:05] Tjzabel commented on #99
We are going to try to have this all ironed out by next Friday, Feb 8th.

[2019-02-03 00:40] jwflory commented on #108
The meeting time is set in place, but a consistent, recurring meeting place still needs to be reserved. Help from current eboard to do this is needed, if I recall correctly.

[2019-02-03 00:45] jwflory commented on #102
Is it possible to finalize a date by Wednesday, Feb. 27th? This helps with advance planning I'm looking at in April.

[2019-02-05 15:51] Tjzabel commented on #108
@jwflory is there something specific eboard can help out with in regards to getting a meeting room?

[2019-02-05 15:59] Tjzabel commented on #106
Since we are usually never in the Gordon field house, I think it's safe to set a due date for this for March 20th, and not Feb 09.

[2019-02-05 16:00] Tjzabel commented on #103
@jibby0 where do we stand with this?

[2019-02-05 16:11] jibby0 commented on #103
@Tjzabel Still working on getting SJ's signature for the EAF. A series of unfortunate events (polar vortex, personal issues, etc.) prevented that last week.

I'm unavailable to do it today, hoping to catch him at FOSS hours tomorrow.

The grace period on expired domains is still active for a while, but I don't want to hold up deployment of the r900.

[2019-02-05 19:46] jwflory commented on #108
@Tjzabel We need a recurring meeting location until 20 April 2019. I am unable to book recurring reservations.

[2019-02-06 16:40] Tjzabel commented on #25
I would like to close this issue. I do not think this is something in scope for RITlug at this time.

If a desire comes to make this a reality, this issue can be reopened.

[2019-02-06 16:40] #25 closed

[2019-02-06 18:30] Tjzabel commented on #86
@repkam09 hey mark! Just wondering if this is still something you can do?

[2019-02-07 18:14] jwflory commented on #108
We have a recurring reservation in MSS-3190 for the rest of the semester. Thanks @Tjzabel @ct-martin for helping figure this out! This issue can be closed. :clapper:

[2019-02-07 18:15] Tjzabel commented on #108
@jwflory :tada: :tada:

[2019-02-07 18:15] #108 closed

[2019-02-07 21:03] icflournoy commented on #106
Projects:
- TigerOS
- Magic Mirror
- Floppy Drives
- Dual touchscreen laptops @ct-martin needs to do some work before committing
- CBET Monitoring
- NLP analyze domain names @jibby0
- Grafana dashboard for ceph? (@ct-martin @icflournoy can help with grafana dashboarding)

[2019-02-08 02:58] #63 closed

[2019-02-08 03:00] Tjzabel commented on #99
As an update, we've finalized on Events, Projects, and Administrative (Eboard) Committees. I'm commenting my committees notes I've taken.

[2019-02-08 03:01] Tjzabel commented on #99
# Committees Comments and Concerns

1. Do we want to have separate meetings for each committee?
   - Eboard, Projects, Events

## If Separate Meetings
* How often?
  * Eboard -- Weekly
  * Projects -- ?
    - We have sub-project meetings, do we need meetings for projects admin?
  * Events -- ?
    - Bi-monthly? Meeting every other week seems like a good plan
    - Is there a need to meet weekly?

[2019-02-08 21:19] jibby0 commented on #103
Payments made, RIT VISA returned. Namecheap shows both ritlug.com and ritlug.club are good until 2023.

Receipts are in the RITLUG Google Drive, under Finance.

I think we can close this up. :+1:

[2019-02-08 21:39] #103 closed

[2019-02-08 23:00] jibby0 commented on #96
@Tjzabel Cool! I'd be happy to do that on March 8th then. :smile:

[2019-02-12 04:04] Tjzabel commented on #83
#### *Small Update*

Stickers are actually coming next Monday, the 18th. After the initial ordering, I forgot to go back in and finalize the stickers. Usually it takes some time for the sticker sizes to finalize.

[2019-02-14 19:40] Tjzabel commented on #83
Stickers are here! :tada: :tada:

[2019-02-14 19:41] #83 closed

[2019-02-14 19:49] Tjzabel commented on #35
## Spring 2019 Update
After a few loose discussions, I believe we have decided to go with a generic orange tablecloth.

The goal is to have an orange tablecloth, with a new RITlug banner on the front.

[2019-02-14 20:52] Tjzabel commented on #99
Committees have been successfully structured :+1:

[2019-02-14 20:52] #99 closed

[2019-02-14 20:57] Tjzabel commented on #35
It would be nice to get a $$ update to see where we stand.

After we know how much we can work with, we can move forward with actually getting the tablecloth.

[2019-02-14 21:05] icflournoy commented on #86
Reminder: upload the non-svg version of the banner, so that fonts are rendered.

[2019-02-14 21:08] Tjzabel commented on #10
Stub is in our club folder. Closing issue as (finally) complete :+1:

[2019-02-14 21:08] #10 closed

[2019-02-18 16:55] icflournoy opened #111 "Document committees in runbook"
The outcome of #63 lead to the creation of committees, explained https://github.com/RITlug/tasks/issues/99#issuecomment-461674840

This should be documented in the RITlug Runbook.

[2019-02-18 16:55] icflournoy commented on #63
Closing, follow up work here https://github.com/RITlug/tasks/issues/111

[2019-02-18 17:19] ct-martin commented on #111
@icflournoy could you move/transfer this issue to the runbook?

--
Christian Martin

On Mon, Feb 18, 2019 at 11:57 AM Ian Flournoy <notifications@github.com>
wrote:

[2019-02-18 19:54] Tjzabel commented on #109
@ct-martin realistically, is having a weekly TigerOS meeting something that you have bandwidth for?

[2019-02-18 19:57] ct-martin commented on #109
Not unless it's during a regular meeting or every other week

--
Christian Martin (Phone)

On Mon, Feb 18, 2019, 2:55 PM Tim Zabel <notifications@github.com wrote:

[2019-02-20 23:09] Tjzabel commented on #106
## Next Steps
In order to move forward with making a proposal, we need to figure out how we want to *describe* our exhibit.

Below is a very rough draft of what to write.

[code]

[2019-02-20 23:20] ct-martin commented on #106
At a previous planning meeting we discussed using "to contribute to and
engage students in" instead of "promote and teach" as it sounds more
inclusive and less talk-oriented. This would be a good time to roll out the
change and update the website; it's been on my list for a while but I never
got around to it.

Also, h/t to @jrtechs for the new language

--
Christian Martin (Phone)

On Wed, Feb 20,

[2019-02-21 19:32] Tjzabel commented on #106
## Update
RITlug proposal has been successfully submitted.

## Next Steps
In order to complete our full proposal, we need to complete:
* Exhibit Information (March 19)
* Service Requests (March 19)
* Add Exhibitors (April 5)
* Photos and Images

[2019-02-21 21:12] icflournoy opened #112 "Add News section into newsletter"
Highlighting current events relating to Linux in the weekly newsletters would be interesting to readers, and also provide discussion points during the meeting start time.

Tasks:
- Modify CampusGroups template to add news section
- Create #linux-news slack channel for interesting news (open to everyone), pull interesting stuff from here when composing email

[2019-02-22 15:44] jibby0 opened #113 "Explore (and maybe order) RITlug Jackets"
There's been some interest from club members regarding RITlug jackets.

Assuming we go with the same provider as last year, we need ~12 people to commit, for an appropriate price.

Tasks:
 - Put up a poll to gather interest in jackets
 - If enough people are interested
   - Establish a design
   - Gather orders, place order

The design and ordering process will likely be very similar to last year'

[2019-02-22 15:51] jibby0 commented on #102
We've agreed on a date: the Wednesday of the last full week of classes (April 24th), during normal FOSS hours (5-7).

Due to the issues we've had with GroupRaise, and the fact we've met our fundraising goal for the year, we've decided to not use GroupRaise to organize this meal. (To the RITLug treasurer of 2019-2020: you're welcome.)

This may not even be a fundraising meal. Just a meet & eat.

A

[2019-02-22 17:26] jibby0 commented on #59
Heard nothing back after emailing the manager. Gonna check with club office to make sure the money didn't come in, then give the manager a call.

[2019-02-25 18:41] ct-martin commented on #96
Note to self: multiple requests for a Jekyll/Build-A-Website workshop. I might be able to do this in April

[2019-02-26 01:53] Tjzabel commented on #109
We've determined it would be best to have TigerOS meetings during general meeting down-time. Weekly meetings have been unproductive in the past, and so it would be best to meet up when progress has been made.

[2019-02-26 01:53] #109 closed

[2019-02-28 19:46] Tjzabel commented on #39
Closing this due to lack of interest and follow-through.

[2019-02-28 19:46] #39 closed

[2019-02-28 21:02] jibby0 commented on #102
I'll email SJ, asking about potential restaurant options. I'll also spur discussion about it next FOSS hours, so we can get a good list to start with, before a poll goes up.

[2019-03-01 01:55] Tjzabel commented on #112
Done :+1:

[2019-03-01 01:55] #112 closed

[2019-03-07 20:52] Tjzabel opened #114 "Request 2019-2020 RITlug Budget"

[2019-03-07 20:52] Tjzabel opened #115 "Eboard Nominations for 2191 School Year"

[2019-03-07 20:54] Tjzabel commented on #113
I can handle setting up a poll, starting the Monday we get back from break.

[2019-03-07 20:56] Tjzabel commented on #107
@serubin does what @jibby0 sound good for a plan?

[2019-03-10 04:08] Serubin commented on #107
I have no issues any of this. I've removed all of RITLUG's stuff from the backups as of early November due to the personal costs associated to storing that.

If you guys intend to do full vm snapshots I can accomidate with some shell access to Titan. Otherwise you should be good to add your backup scripts to the VMs you want to backup.

[2019-03-18 17:55] Tjzabel commented on #106
## Update
Exhibit Information, and Service Requests sections have been completed.

Next steps are to add exhibitors.

[2019-03-21 18:41] Tjzabel commented on #113
I've started a poll in the RITlug announcements slack channel. I will also mention this in this week's email.

[2019-03-21 18:59] Tjzabel commented on #86
I've confirmed with @repkam09 that the banner has been printed! I will most further updates once more is known.

[2019-03-21 19:03] Tjzabel commented on #114
This is due April 30th.

[2019-03-21 19:49] jibby0 commented on #102
SJ's recommendations are:

 - Bar Louie, kind of modernized bar food. Probably supports a wide range of dietary needs.
 - King and I Thai.  See above.
 - Tandoor, Indian see above.
 - Sticky lips has good veg food too, and might be worth a repeat.

We'll discuss these at FOSS hours on Wednesday, and pick one.

[2019-03-21 20:00] Tjzabel commented on #96
Potential idea for April 26th: mini-presentations on projects we are presenting at imagineRIT the next day on the 27th.

[2019-03-25 22:32] Tjzabel opened #116 "Create Teleirc Logo"
Currently, Teleirc does not have any sort of logo, and it would be great to have one as the project grows larger and gains more traction.

At the moment, @jwflory and I have reached out to Ura Design who created our new RITlug logo, to see if they have any bandwidth or interest to create a Teleirc logo. Next steps are to follow up with them, and talk within our eboard to see if a logo is something

[2019-03-28 15:23] ct-martin commented on #96
I have written in the following talks/workshops for April:

Apr 5: Building a website in Jekyll (cc @nlMeminger, @jwflory )
Apr 12: FOSS in Interactives
Apr 19: State of FOSS tools in Design & Creativity
Apr 26: ImagineRIT prep/demos

cc @RITlug/eboard-current

[2019-03-28 18:58] Tjzabel commented on #113
So far we have roughly 9 individuals willing to get a jacket.

I am going to follow up with Taylor as to how many jackets are needed, and to get a refresher as to what the due process is to complete this order.

[2019-03-28 19:42] Tjzabel commented on #102
We've chosen sticky lips.